<!-- {{ comment }} -->
{% set design = supraBlock.property('design') %}

<div class="block">

	{% set heading_class = 'no-heading' %}
	{% set title_empty = supraBlock.isEmpty('block_title') %}
	{% if supra.cmsRequest or not title_empty %}
	<h2 class="block-title {% if title_empty %}hidden{% endif %}"><div>
		{{ supraBlock.property('block_title') }}
		{% if not title_empty %}
			{% set heading_class = 'has-heading' %}
		{% endif %}
	</div></h2>
	{% endif %}
	
	<div data-refresh-event="text" class="text {{ heading_class}} {% if design %}{{ design }}{% endif %}">
		<div class="text-inner clearfix">
	
			{% if design == "simple" or design == "promo_3" %}
			
				{{ supraBlock.property('content') }}
			
			{% elseif design == "promo_1" %}
			
				{{ supraBlock.property('content') }}
				{{ supraBlock.property('content_2') }}
			
			{% elseif design == "promo_2" %}
			 
				<div class="two_thirds alpha">
					{{ supraBlock.property('content') }}
				</div><div class="one_third omega">
					{{ supraBlock.property('content_2') }}
				</div>
				<div class="clear"><!-- --></div>
				
			{% endif %}
		</div>
		<div class="decoration"></div>
	</div>
</div>