<!-- {{ comment }} -->

{% set design = supraBlock.property('design') %}

<div class="block">
	<div data-refresh-event="text" class="text {% if design %}{{ design }}{% endif %}">
		<div class="text-inner clearfix">
	
			{% if design == "simple" or design == "promo_3" %}
			
				{{ supraBlock.property('content') }}
			
			{% elseif design == "promo_1" %}
			
				{{ supraBlock.property('content') }}
				{{ supraBlock.property('content_2') }}
			
			{% elseif design == "promo_2" %}
			 
				<div class="two_thirds alpha">
					{{ supraBlock.property('content') }}
				</div><div class="one_third omega">
					{{ supraBlock.property('content_2') }}
				</div>
				<div class="clear"><!-- --></div>
				
			{% endif %}
	
		</div>
	</div>
</div>