<div class="grid_12 news-list" id="news-list">

<div class="news">

	{{ supra.pageTitleHtmlTag('h1') | raw }}
	
	{% if firstPublication or threePublications %}
	<div class="news-split-list clearfix">

		<div class="grid_6 alpha">

			{% if firstPublication.image %}
			<a href="/{{ supra.locale.id }}{{ firstPublication.path }}" class="image">
				{% set topImageTag = supraBlock.imageHtmlTag( firstPublication.image, 340, 181, true ) %}
				<img align="left" src="{{ topImageTag.getAttribute('src')|escape }}" alt="" />
			</a>
			{% endif %}

			<h2><a href="/{{ supra.locale.id }}{{ firstPublication.path }}">{{ firstPublication.title }}</a></h2>

			<p class="meta">{{ firstPublication.date.format('d M Y') }}</p>
			
			{{ firstPublication.description }}
		</div>

		{% if threePublications %}
		<div class="grid_6 omega">
			<!-- 3 items -->
			<ul class="news-list">
				{% for publication in threePublications %}
				<li class="clearfix">

					{% if publication.image %}
					<a href="/{{ supra.locale.id }}{{ publication.path }}" class="image">
						{% set topImageTag = supraBlock.imageHtmlTag( publication.image, 122, 84, true ) %}
						<img align="left" src="{{ topImageTag.getAttribute('src')|escape }}" alt="" />
					</a>
					{% endif %}

					<h2><a href="/{{ supra.locale.id }}{{ publication.path }}">{{ publication.title }}</a></h2>
					<p class="meta">{{ publication.date.format('d M Y') }}</p>
					{{ publication.description }}
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
	{% endif %}

	{% if publications %} 
	<ul class="news-list">

		{% for publication in publications %}
		<li class="clearfix">
			<h2><a href="/{{ supra.locale.id }}{{ publication.path }}">{{ publication.title }}</a></h2>
			<p class="meta">{{ publication.date.format('d M Y') }}</p>

			{% if publication.image %}
			<a href="/{{ supra.locale.id }}{{ publication.path }}" class="image">
				{% set topImageTag = supraBlock.imageHtmlTag( publication.image, 122, 84, true ) %}
				<img align="left" src="{{ topImageTag.getAttribute('src')|escape }}" alt="" />
			</a>
			{% endif %}

			{{ publication.description }}
		</li>
		{% endfor %}
	</ul>
	{% endif %}

</div>

<div class="page-navigation"><div>
	<a class="page" href="?more=1">More...</a>
</div></div>

</div>
