{% if redirectorUrl %}
<a href="{{ redirectorUrl }}"> 
	<img width="{{ width }}" height="{{ height }}" src="{{ src }}" />
</a>
{% else %}
	<img width="{{ width }}" height="{{ height }}" src="{{ src }}" />
{% endif %}