<!DOCTYPE html>
<html lang="{{ interfaceLanguage | default('en') }}">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta name="robots" content="noindex,nofollow" />
	<title>{{ supra.application.title }}</title>
	
	{# Fav icon #}
	<link rel="icon" type="image/png" href="/favicon.png" />
	
	{# iPad #}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	{# @FIXME: there is no such icon #}
	{#
	<!--[if lte IE 8]>
	<link rel="shortcut icon" href="/favicon-simple.ico" type="image/vnd.microsoft.icon" />
	<![endif]-->
	#}
	
	<!--[if gt IE 8]>
	<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
	<![endif]-->

	<script>
		//<![CDATA[
		//@todo: this is ugly, remove it
		window.comboBase = '{{ supra_path('framework_combo') }}';
		//]>
	</script>

	{# Load all base CSS files at once #}
	<link rel="stylesheet" type="text/css" href="{{ supra_cms_css_pack() }}" />
	
	{# Load all base (YUI, Loader, Supra) JS files at once #}
	<script src="{{  supra_cms_js_pack() }}"></script>
</head>
<body class="yui3-skin-supra {% block bodyClass %}{% endblock %}">
	
	<div class="loading-icon"></div>
	
	{% block htmlBodyHeader %}
	<div class="cms-header" id="cmsHeader"></div>
	{% endblock %}
	
	<div class="cms-content" id="cmsContent"></div>

	<script type="text/javascript">
	//<![CDATA[

		Supra(function (Y) {
			{% block jsPathConfiguration %}
			var APP_PATH = '/{{ supra.application.url }}',
				STATIC_PATH = '/public/cms',
				DYNAMIC_PATH = '/supra';
			
			//Set current manager paths
			Supra.Manager.Loader.setStaticPath(STATIC_PATH);
			
			Supra.Manager.Loader.setBasePath(APP_PATH);
			
			Supra.setModuleGroupPath('website', STATIC_PATH + APP_PATH + {% block jsModulePath %}''{% endblock %});
			{% endblock %}

			{{ controller('Framework:Routing:export') }}

			var applicationPath = {% if supra.application.route %}Supra.Url.generate('{{ supra.application.route }}'){% else %}'/'{% endif %};
				Supra.Manager.Loader.setDynamicPath(applicationPath);

			//Configuration / parameters
			Supra.data.set({
				//Session (used in Ajax requests)
				'sessionName': null,
				'sessionId': null,
				
				//Date & time formats
				'dateFormat': '%d.%m.%Y',
				'timeFormat': '%H:%M:%S',
				'timeFormatShort': '%H:%M',
				
				//User data
				{% if (supra.user) %}
				'user': {
					'name': {{ supra.user.name | json_encode | raw }},
					'login': {{ supra.user.login | json_encode | raw }},
					'avatar_id': {{ supra.user.avatar | json_encode | raw }},
					'id': {{ supra.user.id | json_encode | raw }},
					'avatar': {{ supra.user.gravatarUrl(32) | json_encode | raw }}
				},
				{% else %}
				'user': {
					'name': null,
					'login': null,
					'avatar_id': null,
					'id': null,
					'avatar': null
				},
				{% endif %}
				
				'site': {
					'portal': {% if siteTitle is defined and siteTitle %}true{% else %}false{% endif %},
					'title': {% if siteTitle is defined %}{{ siteTitle|json_encode|raw }}{% else %}null{% endif %},
					'password_reset_uri': {% if passwordResetUri is defined and passwordResetUri %}{{ passwordResetUri|json_encode|raw }}{% else %}null{% endif %},
					'new_site_uri': {% if createNewSiteUri is defined and createNewSiteUri %}{{ createNewSiteUri|json_encode|raw }}{% else %}null{% endif %}
				},
				
				{% block jsSupraDataSet %}{% endblock %}
				
				//Languages
				'locale': {{ supra.localeManager.currentLocale.id | json_encode | raw }},

				'contexts': {{ supra.localeManager.localeArray | json_encode | raw }},
				
				//Application
				'application': {
					'id': {{ supra.application.id | json_encode | raw }},
					'icon': {{ supra.application.icon | json_encode | raw }},
					'title': {{ supra.application.title | json_encode | raw }},
					// @TODO:
					// 1. Remove DYNAMIC_PATH usage at all
					// 2. Check, if we can remove STATIC_PATH too
					// @FIXME: line below will fail if route will have frontend =false
                    {% if supra.application.route %}
					'path': Supra.Url.generate('{{ supra.application.route }}'),
                    {% else %}
                    'path': '/',
                    {% endif %}
					'route': {{ supra.application.route | json_encode | raw }}
				},

				{#//Help notes, tips
				'helpnotes': {{ action.currentUserArray.closedTips | json_encode | raw }},
				
				//CMS Internationalization
				'lang': {{ interfaceLanguage | default('') | json_encode | raw }}, 
						
				//MediaLibrary: file custom properties
				'media-library': {
					'properties': {{ mediaLibrary.properties | json_encode | raw }}
				}#}
			});
			
			//IE not supported at the moment
			if (Supra.Y.UA.ie && Supra.Y.UA.ie < 9) {
				Supra.Manager.executeAction('BrowserSupport');
			} else {
				//Start pinging server
				Supra.data.set('sessionCheckPings', true);
				
				{% block jsSupraManager %}
				
				//Start loading actions
				Supra.Manager.loadActions([
					'Header',
					'Root',
					'LayoutContainers',
					'PageToolbar',
					'PageButtons'
				]);
				
				//Execute initial actions
				Supra.Manager.executeAction('Header');
				Supra.Manager.executeAction('Root');
				
				{% endblock %}
			}
			
		});
		
	//]]>
	</script>
	
	{{ supra.renderJavascripts | raw }}

</body>
</html>