{% set rootPage = supra.isActive('/',true) %}
{% set layout = supraBlock.property('layout') %}
{% set image = supraBlock.property('image') %}
{% set tag = 'span' %}

{% spaceless %}
<div class="logo {{ layout }}" data-refresh-event="logotype"><i></i>
	{% if not rootPage and not supra.cmsRequest %}
		<a href="/">
	{% else %}
		{% set tag = 'div' %}
		<div>
	{% endif %}
		
		{% if layout == 'text_left' or layout == 'text_top' %}
			<{{ tag }} class="txt">{{ supraBlock.property('text') }}</{{ tag }}>
		{% endif %}
		
		<{{ tag }} class="img">
			{{ supraBlock.property('image') | raw }}
		</{{ tag }}>
		
		{% if layout == 'text_right' or layout == 'text_bottom' %}
			<{{ tag }} class="txt">{{ supraBlock.property('text') }}</{{ tag }}>
		{% endif %}
	
	{% if not rootPage and not supra.cmsRequest %}
		</a>
	{% else %}
		</div>
	{% endif %}
</div>
{% endspaceless %}