<!DOCTYPE html>
<html>
	<head>
		<title>View page</title>
	</head>
	<body>
		<div>
			<h1>{{page.name}} (<a href="{{page.link}}" target="_blank">Preview Page</a>)</h1>
			<a href="{{page.link}}" target="_blank"><img src="{{page.picture}}" alt="{{page.name}}"/></a>
		</div>
		{% if tabs %}
			<ul>
			{% for tab in tabs %}
				<li><a href="/social/view-tab?tab_id={{tab.id}}">{{ tab.title }}</a>
					| 
					<a href="/social/edit-tab?tab_id={{tab.id}}">Edit</a>
					<a href="/social/delete-tab?tab_id={{tab.id}}">Delete</a>
					<a href="/social/publish-tab?tab_id={{tab.id}}&publish={% if tab.published %}0{% else %}1{% endif %}">{% if tab.published %}Unpublish{% else %}Publish{% endif %}</a>
				</li>
			{% endfor %}
			</ul>
		{% endif %}
		<a href="/social/create-tab?page_id={{ page.id }}">Create new tab</a><br/><br/>
		<a href="/social/select-page">View all pages</a><br/>
	</body>
</html>