{% set width_full = 960 %}
{% set height_full = 600 %}
{% set width_small = 420 %}

{# <!-- Macro for outputing images --> #}
	{% macro imageHtmlTag (image, width, height) %}
		
		{% if not width %}{% set width = image.crop_width %}{% endif %}
		{% if not height %}{% set height = image.crop_height %}{% endif %}
		
		{# {{ supraBlock.preloadImage( image.imageId, width, height, true, image.size_name ) }} #}
		
		{% set tag = supraBlock.imageHtmlTag( image.imageId, width, height, true, image.size_name )|raw %}
		{% set width = tag.getAttribute('width') %}
		{% set height = tag.getAttribute('height') %}

		{% if width or height %}
			{% set ratio = width / height %}

			{% if width < 420 %}
				{# <!-- Larger image for table and mobile --> #}
				{% set width_mobile = 420 %}
			{% set tag_mobile = supraBlock.imageHtmlTag( image.imageId, width_mobile, width_mobile / ratio, true )|raw %}
			{% endif %}

			<img src="{{ tag.getAttribute('src') }}" width="{{ width }}" height="{{ height }}" {% if width < 420 %}
				 data-src-desktop="{{ tag.getAttribute('src') }}" data-height-desktop="{{ height }}"
				 data-src-mobile-all="{{ tag_mobile.getAttribute('src') }}" data-height-mobile-all="{{ tag_mobile.getAttribute('tag_mobile') }}"
				 class="responsive"
				 {% endif %}alt="" />
		{% endif %}
		
	{% endmacro %}
	{% import _self as output %}


{% set style = supraBlock.property('style') %}
{% set images = supraBlock.property('images') %}
{% set heading_class = 'no-heading' %}

{% if images|length or supra.cmsRequest %}

	<div class="block gallery gallery-{{ style }}" data-refresh-event="gallery">
	
		{% set heading_class = 'no-heading' %}
		{% set title_empty = supraBlock.isEmpty('block_title') %}
		{% if supra.cmsRequest or not title_empty %}
		<h2 class="block-title {% if title_empty %}hidden{% endif %}"><div>
			{{ supraBlock.property('block_title') }}
			{% if not title_empty %}
				{% set heading_class = 'has-heading' %}
			{% endif %}
		</div></h2>
		{% endif %}
	
	{% if style == "slideshow" %}
		
		<div class="gallery-inner promo-slider {{ heading_class }}" data-refresh-event="promo" data-style="thumbs-outer" data-animation="horizontal">
			<ul>
				{% for image in images %}
				<li>
					
					{{ output.imageHtmlTag(image, width_full, height_full) }}
					
					<div>
						{% set property = image.property %}

						{% if property.title %}<h2>{{ property.title }}</h2>{% endif %}
						{% if property.description %}<p>{{ property.description }}</p>{% endif %}
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		
		{# Instructions how to render item in CMS Gallery manager edit mode #}
		{% if supra.cmsRequest %}{% raw %}
		<script type="text/supra-template" data-supra-container-selector="ul" data-supra-id="gallerymanager-item">
			<li>
				{% endraw %}<img src="about:blank" alt="" width="{{ width_full }}" height="{{ height_full }}" />{% raw %}
				<div>
					<h2>{{ property.title }}</h2>
					<p>{{ property.description }}</p>
				</div>
			</li>
		</script>
		{% endraw %}{% endif %}
	
	{% elseif style == "grid" %}
	
		<div class="gallery-inner">
			<ul class="clearfix">
				{% for index, product in images %}
					<li class="one_fourth {% if index % 4 == 0 %}alpha{% elseif index % 4 == 3 %}omega{% endif %}">
						
						{# {{ supraBlock.preloadImage( product.imageId, width_full, height_full, true ) }} #}
						{% set tag_full = supraBlock.imageHtmlTag( product.imageId, width_full, height_full, true ) | raw %}
						
						<span class="outer">
							<span class="img">
								{{ output.imageHtmlTag(product) }}
								
								<a class="overlay" rel="lightbox-galleryimg"
									href="{{ tag_full.getAttribute('src') }}"
							    	title="{{ product.property.title }}"></a>
							</span>
							
							<div class="inner-text">
								<h2>
									<a rel="lightbox-gallerytitle" href="{{ tag_full.getAttribute('src') }}" title="{{ product.property.title }}">
								    	{{ product.property.title }}
								    </a>
								</h2>
								<p>{{ product.property.description }}</p>
							</div>
						</span>
						
					</li>
					{% if index and index % 4 == 3 %}<li class="clear"></li>{% endif %}
				{% endfor %}
			</ul>
		</div>
		
		{# Instructions how to render item in CMS Gallery manager edit mode #}
		{% if supra.cmsRequest %}{% raw %}
		<script type="text/supra-template" data-supra-container-selector="ul" data-supra-id="gallerymanager-item">
			<li class="one_fourth">
				<span class="outer">
					<span class="img">
						<img src="about:blank" alt="" />
					</span>
					<div class="inner-text">
						<h2>{{ property.title }}</h2>
						<p>{{ property.description }}</p>
					</div>
				</span>
			</li>
		</script>
		{% endraw %}{% endif %}

	{% endif %}
	</div>
	
{% endif %}