<div class="block blog-post">
	
	{% block media %}
		{% set media = supraBlock.property('media') %}
		{% if media or supra.cmsRequest %}
		<figure class="media">
			{{ media }}
		</figure>
		{% endif %}
	{% endblock media %}
	
	<div class="page-title">
		{{ supra.pageTitleHtmlTag('h1') | raw }}
	</div>
	
	<div data-refresh-event="text" class="text">
		{{ supraBlock.property('content') }}
	</div>
	
	<div class="meta-info">
		{% block date %}
		{% set date = supra.localization.getCreationTime() %}
		<time datetime="{{ date.format('Y-m-d') }}">{{ date.format(supra.info.dateFormat) }}</time>
		{% endblock date %}

		{% set tags = supra.localization.getTagArray() %}
		{% if tags|length and tags[0] %}
		<span class="separator">|</span>
		<span class="tags">
			{% for tag in tags %}
				<a class="tag" href="{{ applicationPagePath }}?tag={{ tag|url_encode }}">{{ tag|e }}</a>{% if not loop.last %}, {% endif %}
			{% endfor %}
		</span>
		{% endif %}
	</div>
	
	<hr />
	
	<a class="link-top" href="#header"></a>
	
</div>