<div class="block blog-list">
	
	{% set heading_class = 'no-heading' %}
	{% set title_empty = supraBlock.isEmpty('block_title') %}
	{% if supra.cmsRequest or not title_empty %}
	<h2 class="block-title {% if title_empty %}hidden{% endif %}"><div>
		{{ supraBlock.property('block_title') }}
		{% if not title_empty %}
			{% set heading_class = 'has-heading' %}
		{% endif %}
	</div></h2>
	{% endif %}
	
	{% if posts %}
	<section class="{{ heading_class }}" {% if supra.cmsRequest %}data-refresh-event="blog"{% endif %}>
		
		{% for post in posts %}
			
			<article class="{% if post.properties.style == 'promoted' %}promoted{% endif %} {% if post.properties.media %}has-media{% endif %} clearfix">
				
				{# Image or video #}
				{% if post.properties.style == 'promoted' and post.properties.media %}
					<figure class="media">{{ post.properties.media }}</figure>
				{% endif %}
				
				{# Heading #}
				<header>
					{% set date = post.localization.creationTime %}
					<time datetime="{{ date.format('Y-m-d') }}"><span class="date-no-zero">{{ date.format('j') }}</span><span class="date-zero">{{ date.format('d') }}/</span>{{ date.format('m/Y') }}</time>
					
					{# Title #}
					<h3><a href="{{ post.localization.path }}">{{ post.localization.title }}</a></h3>
				</header>
				
				{# Image or video #}
				{% if not post.properties.style == 'promoted' and post.properties.media %}
					<figure class="media">{{ post.properties.media }}</figure>
				{% endif %}
				
				{# Description #}
				<p>{{ post.properties.description }}</p>
			</article>
			
		{% endfor %}
		
	</section>
	{% endif %}
	
	{# Pagination #}
	{% if totalPages > 1 %}
	
		{% set pathPrefix = '?' %}
		{% if currentTag is not empty %}
			{% set pathPrefix = '?tag=' ~ (currentTag | url_encode ) ~ '&' %}
		{% endif %}
	
		<nav class="pagination">{% spaceless %}
			{% if currentPage > 0 %}
				<a class="prev" rel="prev" href="{{ pathPrefix }}page={{ currentPage - 1 }}">{{ supraBlock.property('previous_page') }}</a>
			{% else %}
				<span class="prev">{{ supraBlock.property('previous_page') }}</span>
			{% endif %}
			
			{% set from = currentPage - 4 %}
			{% if from < 0 %}{% set from = 0 %}{% endif %}
			
			{% set to = from + 7 %}
			{% if to > totalPages - 1 %}
				{% set to = totalPages - 1 %}
				{% set from = to - 7 %}
				{% if from < 0 %}{% set from = 0 %}{% endif %}
			{% endif %}
			
			{% if from > 0 %}<span class="dots">...</span>{% endif %}
			
			{% for i in from..to %}
				{% if i == currentPage %}
					<span class="item active">{{ i + 1 }}</span>
				{% else %}
					<a class="item" href="{{ pathPrefix }}page={{ i }}">{{ i + 1 }}</a>
				{% endif %}
			{% endfor %}
			
			{% if to < totalPages - 1 %}<span class="dots">...</span>{% endif %}
			
			{% if currentPage < totalPages - 1 %}
				<a class="next" rel="next" href="{{ pathPrefix }}page={{ currentPage + 1 }}">{{ supraBlock.property('next_page') }}</a>
			{% else %}
				<span class="next">{{ supraBlock.property('next_page') }}</span>
			{% endif %}
		{% endspaceless %}</nav>
	{% endif %}
	
</div>