<div class="block social-share clearfix">
	
	{% set pagePath = supra.request.getBaseUrl() ~ supra.request.pageLocalization.path %}
	
	<h4>{{ supraBlock.property('share_title') }}</h4>
	<ul>
		<li class="facebook">
			<a href="http://www.facebook.com/sharer.php?u={{ pagePath }}&amp;t={{ supra.request.pageLocalization.title }}" target="_blank">
				Facebook
			</a>
			<div class="tooltip">Facebook</div>
		</li>
		<li class="twitter">
			{#<a href="http://twitthis.com/twit?url={{ pagePath }}" target="_blank">#}
			<a href="http://twitter.com/home?status={{ pagePath }}" target="_blank">
				Twitter
			</a>
			<div class="tooltip">Twitter</div>
		</li>
		<li class="linkedin">
			<a href="http://linkedin.com/shareArticle?mini=true&amp;url={{ pagePath }}&amp;title={{ supra.request.pageLocalization.title }}" target="_blank">
				LinkedIn
			</a>
			<div class="tooltip">LinkedIn</div>
		</li>
		<li class="reddit">
			<a href="http://reddit.com/submit?url={{ pagePath }}&amp;title={{ supra.request.pageLocalization.title }}" target="_blank">
				Reddit
			</a>
			<div class="tooltip">Reddit</div>
		</li>
		<li class="google">
			<a href="http://google.com/bookmarks/mark?op=edit&amp;bkmk={{ pagePath }}&amp;title={{ supra.request.pageLocalization.title }}" target="_blank">
				Google +1
			</a>
			<div class="tooltip">Google +1</div>
		</li>
	</ul>
	
</div>