{% set width_full = 960 %}
{% set height_full = 600 %}
{% set width_small = 420 %}
{% set width_icon = 64 %}

{# <!-- Macro for outputing images --> #}
	{% macro imageHtmlTag (image, width, height) %}
		
		{% if not width %}{% set width = image.crop_width %}{% endif %}
		{% if not height %}{% set height = image.crop_height %}{% endif %}
		
		{% set tag = supraBlock.imageHtmlTag( image.imageId, width, height, true, image.size_name )|raw %}
		{% set width = tag.getAttribute('width') %}
		{% set height = tag.getAttribute('height') %}
		{% set ratio = width / height %}
		
		{% if width < 420 %}
			{# <!-- Larger image for table and mobile --> #}
			{% set width_mobile = 420 %}
			{% set tag_mobile = supraBlock.imageHtmlTag( image.imageId, width_mobile, width_mobile / ratio, true )|raw %}
		{% endif %}
		
		{% if tag.getAttribute('src') %}
			<img src="{{ tag.getAttribute('src') }}" width="{{ width }}" height="{{ height }}" {% if width < 420 %}
				 data-src-desktop="{{ tag.getAttribute('src') }}" data-height-desktop="{{ height }}"
				 data-src-mobile-all="{{ tag_mobile.getAttribute('src') }}" data-height-mobile-all="{{ tag_mobile.getAttribute('tag_mobile') }}"
				 class="responsive"
				 {% endif %}alt="" />
		{% endif %}
		
	{% endmacro %}
	{% import _self as output %}





{% set navigation = supraBlock.property('navigation')|default('scrollbar') %}
{% set design = supraBlock.property('design')|default('all') %}
{% set products = supraBlock.property('images') %}
{% set layout = supraBlock.property('layout') %}
{% set link = supraBlock.property('link') %}
{% set link_title = '' %}

{% set ratio = 0.7 %}

{% if layout == 'columns_3' %}
	{% set columns = 3 %}
{% elseif layout == 'columns_2' %}
	{% set columns = 2 %}
{% else %}
	{% set columns = 4 %}
{% endif %}


{# Macro for outputing images #}
	
	{# Calculate image width based on layout, design and screen size #}
	{% macro imageWidth (screen, columns) %}
		{% set design = supraBlock.property('design') %}
		
		{% if design == 'icon' %}
			{{ width_icon }}
		{% else %}
			{% if screen > 420 %}
				{{ (screen - 20 * columns) / columns }}
			{% else %}
				{{ screen - 20 * columns }}
			{% endif %}
		{% endif %}
	{% endmacro %}
	
	{# Output image tag for CMS Gallery manager #}
	{% macro imageCMS(ratio, columns) %}
		{% import _self as output %}
		{% set design = supraBlock.property('design') %}
		
		{% if design == 'icon' %}
			<span class="img">
				<img src="about:blank" alt="" width="{{ width_icon }}" height="{{ width_icon }}" />
			</span>
		{% else %}
			{% set screenWidth = 960 %}
			{% set w = output.imageWidth(screenWidth, columns)|trim|raw|number_format(0, '.', '') %}
			{% set h = w*ratio|number_format(0, '.', '') %}
			<span class="img">
				<img src="about:blank" alt="" width="{{ w }}" height="{{ h }}" />
			</span>
		{% endif %}
	{% endmacro %}

{# Macro for outputing links #}
	{% macro link(product, link_type) %}
		{% if product.property.link %}
			{% if product.property.link.title %}
				{% set link_title = product.property.link.title %}
			{% elseif product.property.link.page %}
				{% set link_title = product.property.link.page.title %}
			{% else %}
				{% set link_title = product.property.link.url %}
			{% endif %}
			
			{% if link_type == 'button' %}
				<a class="button" href="{{product.property.link.url}}" target="{{product.property.link.target}}"><span><span>{{ product.property.link_label|default( link_title ) }}</span></span></a>
			{% elseif link_type == 'text' %}
				<a class="link" href="{{product.property.link.url}}" target="{{product.property.link.target}}">{{ product.property.link_label|default( link_title ) }}</a>
			{% elseif link_type == 'overlay' %}
				<a class="overlay" href="{{product.property.link.url}}" target="{{product.property.link.target}}" title="{{ product.property.link_label|default( link_title ) }}"></a>
			{% endif %}
		{% endif %}
	{% endmacro %}

{# Macro for outputing text + link #}
	{% macro text(product, link_type) %}
		{% import _self as output %}
		
		<h2>
			{% if link_type == 'overlay' and product.property.link %}
				<a href="{{ product.property.link.url }}" target="{{ product.property.link.target }}">{{ product.property.title }}</a>
			{% else %}
				{{ product.property.title }}
			{% endif %}
		</h2>
		<p>{{ product.property.description }}</p>
		
		{% if link_type == 'button' or link_type == 'text' %}			
			{{ output.link(product, link_type) }}
		{% endif %}
	{% endmacro %}

{# Macros needs to be imported before use #}
{% import _self as output %}


{% if products|length or supra.cmsRequest %}

	<div class="block">
		
		{% if not supraBlock.isEmpty('block_title') %}
		<h2 class="block-title"><div>
			{{ supraBlock.property('block_title') }}
		</div></h2>
		{% endif %}
		
		<div class="products-slider clearfix img-{{ design }} link-{{ link }}" data-refresh-event="carousel" data-{{ navigation }}="true">
			<div class="products-slider-inner clearfix">
				<ul class="clearfix">
					{% for index, product in products %}
						{% if index and index % 4 == 0 %}
							<li class="clear"></li>
						{% endif %}
						
						<li class="{% if loop.first %}alpha {% endif %}{% if loop.last %}omega {% endif %}{% if layout == 'columns_3' %}one_third{% elseif layout == 'columns_2' %}grid_8{% else %}grid_4{% endif %} clearfix">
							
							<span class="img">
								{% if design == 'icon' %}
									{{ output.imageHtmlTag( product, width_icon, width_icon ) }}
								{% else %}
									{{ output.imageHtmlTag( product ) }}
								{% endif %}
								{% if link == 'overlay' %}
									{{ output.link(product, link) }}
								{% endif %}
							</span>
							
							{% if design != 'only' %}
								<div class="inner-text">
									{{ output.text(product, link) }}
								</div>
							{% endif %}
						</li>
					{% endfor %}
					
					<li class="clear"></li>
				</ul>
			</div>
		</div>
		
		
		{# Instructions how to render item in CMS Gallery manager edit mode #}
		{% if supra.cmsRequest %}{% raw %}
			<script type="text/supra-template" data-supra-container-selector="ul" data-supra-id="gallerymanager-item" data-supra-image-selector="li > img">
				
				<li class="{% if layout == 'columns_3' %}one_third{% elseif layout == 'columns_2' %}grid_8{% else %}grid_4{% endif %} clearfix">
					{% endraw %}{{ output.imageCMS(ratio, columns) }}{% raw %}
					
					{% if design != 'only' %}
						<div class="inner-text">
							<h2>{{ property.title }}</h2>
							<p>{{ property.description }}</p>
						
							{% if link == 'button' %}
								<a class="button"><span><span>{{ property.link_label }}</span></span></a>
							{% elseif link == 'text' %}
								<a class="link">{{ property.link_label }}</a>
							{% endif %}
						</div>
					{% endif %}
				</li>
				
			</script>
		{% endraw %}{% endif %}
		
	</div>
	
{% endif %}