{% macro imageHtmlTag (image, width, height) %}
	{% if not width %}{% set width = image.crop_width %}{% endif %}
	{% if not height %}{% set height = image.crop_height %}{% endif %}

	{% set tag = supraBlock.imageHtmlTag( image.imageId, width, height, true, image.size_name )|raw %}
	{% set width = tag.getAttribute('width') %}
	{% set height = tag.getAttribute('height') %}
	{% set ratio = width / height %}

	{% if width < 420 %}
		{# <!-- Larger image for table and mobile --> #}
		{% set width_mobile = 420 %}
		{% set tag_mobile = supraBlock.imageHtmlTag( image.imageId, width_mobile, width_mobile / ratio, true )|raw %}
	{% endif %}

	{% if tag.getAttribute('src') %}
		<img src="{{ tag.getAttribute('src') }}" width="{{ width }}" height="{{ height }}" {% if width < 420 %}
			 data-src-desktop="{{ tag.getAttribute('src') }}" data-height-desktop="{{ height }}"
			 data-src-tablet="{{ tag_mobile.getAttribute('src') }}" data-height-tablet="{{ tag_mobile.getAttribute('tag_mobile') }}"
			 data-src-mobile-all="{{ tag_mobile.getAttribute('src') }}" data-height-mobile-all="{{ tag_mobile.getAttribute('tag_mobile') }}"
			 class="responsive"
			 {% endif %}alt="" />
	{% endif %}
{% endmacro %}

{# <!-- Macro for outputing icons/images --> #}
{% macro imageElement(element, width, height, allowedType) %}
	{% if element.type == 'icon' and allowedType == 'icon' %}
		{{ element.tag | raw  }}
	{% elseif element.type == 'image' and allowedType != 'icon' %}
		{{ _self.imageHtmlTag (element, width, height) }}
	{% endif %}
{% endmacro %}

{% set navigation = supraBlock.property('navigation')|default('scrollbar') %}
{% set design = supraBlock.property('design')|default('all') %}
{% set products = supraBlock.property('images') %}
{% set layout = supraBlock.property('layout') %}
{% set link = supraBlock.property('link') %}
{% set link_title = '' %}
{% set heading_class = 'no-heading' %}

{% set ratio = 0.7 %}

{# Macro for outputing links #}
	{% macro link(product, link_type) %}
		{% if product.property.link %}
			{% if product.property.link.title %}
				{% set link_title = product.property.link.title %}
			{% elseif product.property.link.page %}
				{% set link_title = product.property.link.page.title %}
			{% else %}
				{% set link_title = product.property.link.url %}
			{% endif %}
			
			{% if link_type == 'button' %}
				<a class="button" href="{{product.property.link.url}}" target="{{product.property.link.target}}"><span><span>{{ product.property.link_label|default( link_title ) }}</span></span></a>
			{% elseif link_type == 'text' %}
				<a class="link" href="{{product.property.link.url}}" target="{{product.property.link.target}}">{{ product.property.link_label|default( link_title ) }}</a>
			{% elseif link_type == 'overlay' %}
				<a class="overlay" href="{{product.property.link.url}}" target="{{product.property.link.target}}" title="{{ product.property.link_label|default( link_title ) }}"></a>
			{% endif %}
		{% endif %}
	{% endmacro %}

{# Macro for outputing text + link #}
	{% macro text(product, link_type) %}
		{% import _self as output %}
		
		<h2>
			{% if link_type == 'overlay' and product.property.link %}
				<a href="{{ product.property.link.url }}" target="{{ product.property.link.target }}">{{ product.property.title }}</a>
			{% else %}
				{{ product.property.title }}
			{% endif %}
		</h2>
		<p>{{ product.property.description }}</p>
		
		{% if link_type == 'button' or link_type == 'text' %}			
			{{ output.link(product, link_type) }}
		{% endif %}
	{% endmacro %}

{# Macros needs to be imported before use #}
{% import _self as output %}


{% if products|length or supra.cmsRequest %}

	<div class="block">
		
		{% set heading_class = 'no-heading' %}
		{% if supra.cmsRequest or not supraBlock.isEmpty('block_title') %}
		<h2 class="block-title {% if supraBlock.isEmpty('block_title') %}hidden{% endif %}"><div>
			{{ supraBlock.property('block_title') }}
			{% set heading_class = 'has-heading' %}
		</div></h2>
		{% endif %}
		
		<div class="products-slider clearfix img-{{ design }} link-{{ link }} {{ heading_class }}" data-refresh-event="carousel" data-{{ navigation }}="true">
			<div class="products-slider-inner clearfix">
				<ul class="clearfix">
					{% for index, product in products %}
						{% if index and index % 4 == 0 %}
							<li class="clear"></li>
						{% endif %}
						
						<li class="{% if loop.first %}alpha {% endif %}{% if loop.last %}omega {% endif %}{% if layout == 'columns_3' %}one_third{% elseif layout == 'columns_2' %}one_half{% elseif layout == 'columns_1' %}one_half{% else %}one_fourth{% endif %} clearfix">
							
							<span class="img">
{#								
								{% if design == 'icon' %}
									<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px"
										 height="32px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><g id="1b1c9b208ed950244c86edd4d2014b29"><path display="inline" d="M362.438,66.158c53.25,0,106.479,53.454,106.479,124.203c0,95.395-97.788,153.145-199.626,248.538
											c0,0-7.128,6.943-13.536,6.943c-6.404,0-13.174-7.078-13.174-7.078C140.938,343.551,43.083,285.594,43.083,190.361
											c0-71.454,53.229-124.203,106.458-124.203C238.26,66.158,256,119.387,256,119.387S273.74,66.158,362.438,66.158 M362.438,23.575
											c-48.131,0-82.738,13.501-106.439,30.784c-23.706-17.283-58.319-30.784-106.457-30.784C68.752,23.575,0.5,99.955,0.5,190.361
											c0,93.944,69.161,153.688,149.243,222.862c20.539,17.744,41.771,36.084,63.112,56.045c6.535,6.52,21.913,19.158,42.899,19.158
											c20.963,0,36.711-12.758,42.87-18.66c21.554-20.182,42.986-38.682,63.713-56.576C442.377,344.078,511.5,284.396,511.5,190.361
											C511.5,99.955,443.237,23.575,362.438,23.575L362.438,23.575z"></path></g></svg>
								{% else %}
									{{ output.imageHtmlTag( product ) }}
								{% endif %}
#}								
								{{ output.imageElement(product, null, null, design) }}
									
								{% if link == 'overlay' %}
									{{ output.link(product, link) }}
								{% endif %}
							</span>
							
							{% if design != 'only' %}
								<div class="inner-text">
									{{ output.text(product, link) }}
								</div>
							{% endif %}
						</li>
					{% endfor %}
					
					<li class="clear"></li>
				</ul>
			</div>
		</div>
		
		
		{# Instructions how to render item in CMS Gallery manager edit mode #}
		{% if supra.cmsRequest %}{% raw %}
			<script type="text/supra-template" data-supra-container-selector="ul" data-supra-id="gallerymanager-item" data-supra-image-selector="li > img">
				
				<li class="{% if layout == 'columns_3' %}one_third{% elseif layout == 'columns_2' %}one_half{% elseif layout == 'columns_1' %}one_half{% else %}one_fourth{% endif %} clearfix">
					{% if design == 'icon' %}
						<span class="img">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px"
										 height="32px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"></svg>
						</span>
					{% else %}
						<span class="img">
							<img src="about:blank" alt="" />
						</span>
					{% endif %}
					
					{% if design != 'only' %}
						<div class="inner-text">
							<h2>{{ property.title }}</h2>
							<p>{{ property.description }}</p>
						
							{% if link == 'button' %}
								<a class="button"><span><span>{{ property.link_label }}</span></span></a>
							{% elseif link == 'text' %}
								<a class="link">{{ property.link_label }}</a>
							{% endif %}
						</div>
					{% endif %}
				</li>
				
			</script>
		{% endraw %}{% endif %}
		
	</div>
	
{% endif %}