{% include 'template/search/search-form.html.twig' %}

<h1>Meklēšanas rezultāti</h1>

{% if error %} 
	<p>
		Diemžēl notikusi ķlūda.
	</p>
{% else %}

<ul class="search-results content-padding">

	{% for n, searchResult in searchResults %}

	<li>
		<h2>{{ currentPageNumber * resultsPerPage + n + 1 }}. <a href="{{ searchResult.pageWebPath }}">{{ searchResult.title }}</a></h2>
		<p class="path"><a style="text-decoration: none;">
			{% for breadcrumb in searchResult.breadcrumbs %} 
				{{ breadcrumb }} 
				{% if loop.last == false %}/{% endif %}
			{% endfor %}
		</a></p>
		<p>
			{{ searchResult.highlight | raw}}<br />
			...
		</p>
	</li>

	{% endfor %}

</ul>

{% if pageCount > 1 %}
<p class="paging">

	{% if currentPageNumber > 0 %}
		<a href="?q={{ q }}&p={{ currentPageNumber - 1 }}" class="prev">Atpakaļ</a>
	{% endif %}

	{% for key, pageNumber in pages %}

		{% if key == currentPageNumber %}
			<a href="?q={{ q }}&p={{ pageNumber - 1 }}" class="active">{{ pageNumber }}</a>
		{% else %} 
			<a href="?q={{ q }}&p={{ pageNumber - 1 }}">{{ pageNumber }}</a>
		{% endif %}

	{% endfor %}

	{% if currentPageNumber < pageCount - 1 %}
		<a href="?q={{ q }}&p={{ currentPageNumber + 1 }}" class="next">Tālāk</a>
	{% endif %}

</p>
{% endif %}

{% endif %}