<div class="block blog-archive">
	
	{% set heading_class = 'no-heading' %}
	{% if supra.cmsRequest or not supraBlock.isEmpty('block_title') %}
	<h3 class="heading block-title {% if supraBlock.isEmpty('block_title') %}hidden{% endif %}"><div>
		{{ supraBlock.property('block_title') }}
		{% set heading_class = 'has-heading' %}
	</div></h3>
	{% endif %}
	
	<ul class="blog-archive-content clearfix {{ heading_class }}" data-refresh-event="blog-archive">
		{% for item in archive %}
            {% if loop.index < 12 %}
                <li {% if currentPeriod == item.title %}class="active"{% endif %}><a href="{{ blogPath }}?period={{ item.title }}">{{ item.title }}</a></li>
            {% endif %}
		{% endfor %}
	</ul>
	
	<div tabindex="0" class="select" data-toggle="dropdown" data-prevent-default="false" data-require="plugins/widgets/dropdown">
		<a class="select-item">
			{{ supraBlock.property('view_all_title') | default(currentPeriod) | default('&nbsp;') | raw }}
		</a>
		<div class="select-popup hidden"><ul class="select-list">
			{% for item in archive %}
				<li class="select-list-item {% if currentPeriod == item.title %}select-list-item-active{% endif %}" data="{{ blogPath }}?period={{ item.title }}"><a href="{{ blogPath }}?period={{ item.title }}">{{ item.title }}</a></li>
			{% endfor %}
		</ul></div>
	</div>
	
</div>