<form class="form" id="feedbackForm" action="{{requestPath}}">
	
	{% for id, input in formInputs if (input.type == 'captcha' and captchaAvailable == true) or input.type != 'captcha' %}
	
	{% set propertyName = input.name ~ ' label' %}
	{% set allowInputProperty = input.name ~ ' field' %}
		{% if supraBlock.property(allowInputProperty) == true %}
		
			{% if input.type == 'text' %}
			<div class="input-row">
				<label for="{{id}}">{{ supraBlock.property(propertyName) }}</label>
				<span class="input-txt"><span><input type="text" name="{{id}}" id="{{id}}" value="" /></span></span>
			</div>
			
			{% elseif input.type == 'captcha'%}
			<div class="input-row input-row-captcha">
				<div class="image">
					<span class="input-txt"><span><span><img src="/captcha/" alt="" /></span></span></span>
					<a href="#">{{ supraBlock.property('Reload ' ~ propertyName) }}</a>
				</div>
				<label for="{{id}}">{{ supraBlock.property(propertyName) }}</label>
				<span class="input-txt"><span><input type="text" name="{{id}}" id="{{id}}" value="" /></span></span>
			</div>
			
			{% elseif input.type == 'textarea' %}
			<div class="input-row">
				<label for="{{id}}">{{ supraBlock.property(propertyName) }}</label>
				<span class="input-textarea">
					<textarea name="{{id}}" id="{{id}}"></textarea>
					<span class="c-lt"></span>
					<span class="c-rt"></span>
					<span class="c-rb"></span>
					<span class="c-lb"></span>
				</span>
			</div>
			
			{% elseif input.type == 'dropdown' %}
			<div class="input-row">
				<label for="{{id}}">&nbsp;</label>
				<select name="{{id}}" id="{{id}}">
					<option value="">{{ supraBlock.property(propertyName) }}</option>
					{% for i in 1..input.optionsCount %}
						{% set k = k+1 %}
						{% set optionValue = supraBlock.property(input.name ~ ' ' ~ k ~ '. option') %}
						{% if optionValue != '' %}
							<option value="{{optionValue}}">{{ optionValue }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			
			{% elseif input.type == 'submit' %}
			<div class="button-row">
				<span class="btn"><span><input type="submit" name="submit" value="{{ supraBlock.property(propertyName) }}" /></span></span>
			</div>
			{% endif %}
		{% endif %}
	{% endfor %}
	
</form>
	
<div {% if not supra.cmsRequest %}id="feedbackFormSuccess" class="hidden"{% endif %}>
	{% if supra.cmsRequest %}
	<br />
	{% endif %}
	<div class="form-message">
		{{ supraBlock.property('successMessage') | raw }}
	</div>
	
	{% if formInputs.close %}
	{% set propertyName = formInputs.close.name ~ ' label' %}
		{% set allowInputProperty = formInputs.close.name ~ ' field' %}
		{% if supraBlock.property(allowInputProperty) == true %}
	<div class="form">
		<div class="button-row">
			<span class="btn"><span><input type="button" value="{{ supraBlock.property(propertyName) }}" /></span></span>
		</div>
	</div>
		{% endif %}
	{% endif %}
</div>

<script type="text/javascript">
	var ErrorMessages = {{ errorLabels | json_encode | raw }};
</script>