{% set heading_class = 'no-heading' %}

<div class="block">
	
	{% set heading_class = 'no-heading' %}
	{% set title_empty = supraBlock.isEmpty('block_title') %}
	{% if supra.cmsRequest or not title_empty %}
	<h2 class="block-title {% if title_empty %}hidden{% endif %}"><div>
		{{ supraBlock.property('block_title') }}
		{% if not title_empty %}
			{% set heading_class = 'has-heading' %}
		{% endif %}
	</div></h2>
	{% endif %}

	{% set map = supraBlock.property('map') %}
	{% set markerText = supraBlock.property('marker_text') %}
	{% spaceless %}
	<div
		{% if supra.cmsRequest %}
			id="content_{{ supraBlock.getBlock().getId() }}_map" class="yui3-content-inline yui3-input-map-inline map {{ heading_class }}"
		{% else %}
			class="map {{ heading_class }}"
		{% endif %}
		{% if map.height %}
			style="height: {{ map.height }}px"
		{% endif %}
		data-refresh-event="googleMap" data-latitude="{{ map.latitude }}" data-longitude="{{ map.longitude }}" data-zoom="{{ map.zoom }}" data-marker-text="{{ markerText }}"></div>
	{% endspaceless %}
</div>