<div class="block">
	{% if not supraBlock.isEmpty('block_title') %}
	<h2 class="block-title"><div>
		{{ supraBlock.property('block_title') }}
	</div></h2>
	{% endif %}
	

	{% set map = supraBlock.property('map') %}
	{% set markerText = supraBlock.property('marker_text') %}
	{% spaceless %}
	<div
		{% if supra.cmsRequest %}
			id="content_{{ supraBlock.getBlock().getId() }}_map" class="yui3-content-inline yui3-input-map-inline map"
		{% else %}
			class="map"
		{% endif %}
		data-refresh-event="googleMap" data-latitude="{{ map.latitude }}" data-longitude="{{ map.longitude }}" data-zoom="{{ map.zoom }}" data-marker-text="{{ markerText }}"></div>
	{% endspaceless %}
</div>