{% set heading_class = 'no-heading' %}

<div class="block">
	
	{% set heading_class = 'no-heading' %}
	{% if supra.cmsRequest or not supraBlock.isEmpty('block_title') %}
	<h2 class="block-title {% if supraBlock.isEmpty('block_title') %}hidden{% endif %}"><div>
		{{ supraBlock.property('block_title') }}
		{% set heading_class = 'has-heading' %}
	</div></h2>
	{% endif %}

	{% set map = supraBlock.property('map') %}
	{% set markerText = supraBlock.property('marker_text') %}
	{% spaceless %}
	<div
		{% if supra.cmsRequest %}
			id="content_{{ supraBlock.getBlock().getId() }}_map" class="yui3-content-inline yui3-input-map-inline map {{ heading_class }}"
		{% else %}
			class="map {{ heading_class }}"
		{% endif %}
		data-refresh-event="googleMap" data-latitude="{{ map.latitude }}" data-longitude="{{ map.longitude }}" data-zoom="{{ map.zoom }}" data-marker-text="{{ markerText }}"></div>
	{% endspaceless %}
</div>