<!-- {{ comment }} -->

{% set layout = supraBlock.property('layout') %}

<div data-refresh-event="text" class="text">

	{% if layout == "column_2" %}
	 
		<div class="one_half alpha">

			{% if supraBlock.property('image') %} 
				{% set topImageTag = supraBlock.imageHtmlTag( supraBlock.property('image'), 340, 181, true ) %}
				<img align="left" src="{{ topImageTag.getAttribute('src')|escape }}" alt="" class="align-left" />	
			{% endif %}

			{{ supraBlock.property('content') }}
		</div>
		<div class="one_half omega">
			{{ supraBlock.property('content_2') }}
		</div>
		<div class="clear"><!-- --></div>
		
	{% elseif layout == "column_3" %}
		
		<div class="one_third alpha">

			{% if supraBlock.property('image') %} 
				{% set topImageTag = supraBlock.imageHtmlTag( supraBlock.property('image'), 340, 181, true ) %}
				<img align="left" src="{{ topImageTag.getAttribute('src')|escape }}" alt="" class="align-left" />	
			{% endif %}

			{{ supraBlock.property('content') }}
		</div>
		<div class="one_third">
			{{ supraBlock.property('content_2') }}
		</div>
		<div class="one_third omega">
			{{ supraBlock.property('content_3') }}
		</div>
		<div class="clear"><!-- --></div>
		
	{% elseif layout == "column_4" %}
		
		<div class="one_fourth alpha">

			{% if supraBlock.property('image') %} 
				{% set topImageTag = supraBlock.imageHtmlTag( supraBlock.property('image'), 340, 181, true ) %}
				<img align="left" src="{{ topImageTag.getAttribute('src')|escape }}" alt="" class="align-left" />	
			{% endif %}

			{{ supraBlock.property('content') }}
		</div>
		<div class="one_fourth">
			{{ supraBlock.property('content_2') }}
		</div>
		<div class="one_fourth">
			{{ supraBlock.property('content_3') }}
		</div>
		<div class="one_fourth omega">
			{{ supraBlock.property('content_4') }}
		</div>
		<div class="clear"><!-- --></div>
	
	{% elseif layout == "column_1_2_h" %}
	
		<div class="one_half alpha">

			{% if supraBlock.property('image') %} 
				{% set topImageTag = supraBlock.imageHtmlTag( supraBlock.property('image'), 340, 181, true ) %}
				<img align="left" src="{{ topImageTag.getAttribute('src')|escape }}" alt="" class="align-left" />	
			{% endif %}

			{{ supraBlock.property('content') }}
		</div>
		<div class="one_fourth">
			{{ supraBlock.property('content_2') }}
		</div>
		<div class="one_fourth omega">
			{{ supraBlock.property('content_3') }}
		</div>
		<div class="clear"><!-- --></div>
	
	{% elseif layout == "column_2_1_h" %}
	
		<div class="one_fourth alpha">

			{% if supraBlock.property('image') %} 
				{% set topImageTag = supraBlock.imageHtmlTag( supraBlock.property('image'), 340, 181, true ) %}
				<img align="left" src="{{ topImageTag.getAttribute('src')|escape }}" alt="" class="align-left" />	
			{% endif %}

			{{ supraBlock.property('content') }}
		</div>
		<div class="one_fourth">
			{{ supraBlock.property('content_2') }}
		</div>
		<div class="one_half omega">
			{{ supraBlock.property('content_3') }}
		</div>
		<div class="clear"><!-- --></div>
		
	{% elseif layout == "column_2_1_v" %}
	
		<div class="one_half alpha">
			<div class="grid_item">

				{% if supraBlock.property('image') %} 
					{% set topImageTag = supraBlock.imageHtmlTag( supraBlock.property('image'), 340, 181, true ) %}
					<img align="left" src="{{ topImageTag.getAttribute('src')|escape }}" alt="" class="align-left" />	
				{% endif %}

				{{ supraBlock.property('content') }}
			</div>
			<div class="">
				{{ supraBlock.property('content_2') }}
			</div>
		</div>
		<div class="one_half omega">
			{{ supraBlock.property('content_3') }}
		</div>
		<div class="clear"><!-- --></div>
	
	{% elseif layout == "column_1_2_v" %}
	
		<div class="one_half alpha">

			{% if supraBlock.property('image') %} 
				{% set topImageTag = supraBlock.imageHtmlTag( supraBlock.property('image'), 340, 181, true ) %}
				<img align="left" src="{{ topImageTag.getAttribute('src')|escape }}" alt="" class="align-left" />	
			{% endif %}

			{{ supraBlock.property('content') }}
		</div>
		<div class="one_half omega">
			<div class="grid_item">
				{{ supraBlock.property('content_2') }}
			</div>
			<div class="">
				{{ supraBlock.property('content_3') }}
			</div>
		</div>
		
		<div class="clear"><!-- --></div>
		
	{% else %}
	
		{# 1 column #}

		{% if supraBlock.property('image') %} 
			{% set topImageTag = supraBlock.imageHtmlTag( supraBlock.property('image'), 340, 181, true ) %}
			<img align="left" src="{{ topImageTag.getAttribute('src')|escape }}" alt="" class="align-left" />	
		{% endif %}

		{{ supraBlock.property('content') }}
		
	{% endif %}

</div>