<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% set backgroundColor = '#eaeaeb' %}

{% set colorText = '#3d3d3d' %}
{% set colorLink = '#588bc4' %}
{% set colorHeading = '#3d3d3d' %}
{% set colorFooter = '#ffffff' %}

{% set fontFamily = "Arial, Helvetica, sans-serif" %}
{% set textStyles = "font: 13px/22px " ~ fontFamily ~ "; font-size: 13px; line-height: 22px; color: " ~ colorText ~ ";" %}
{% set textStylesH1 = "font: 18px/26px " ~ fontFamily ~ "; font-size: 18px; line-height: 26px; color: #588bc4;" %}
{% set textFooter = "font: 12px/21px " ~ fontFamily ~ "; font-size: 12px; line-height: 21px; color: " ~ colorFooter ~ ";" %}

{% set basePath = "http://www.sitesupra.com" %}
{% set portalPath = basePath %}

{% if not contentHeight %}
	{% set contentHeight = 240 %}
{% endif %}
{% block contentHeight %}
	{% set contentHeight = 240 %}
{% endblock %}

{% set footerHeight = 137 %}

{% import 'lib/Supra/Mailer/Message/view/tags.html.twig' as tags %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Standard email</title>
	<style type="text/css">
	
		{#
		/* Client-specific Styles */
		#}
			
			{# /* Force Outlook to provide a "view in browser" menu link. */ #}
			#outlook a {padding:0;}
			{# /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */ #}
			body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
			{# /* Force Hotmail to display emails at full width */ #}
			.ExternalClass {width:100%;}
			{# /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */ #}
			.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
			#backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
		
		{#
		/* Some sensible defaults for images */
		#}
			.image_fix {display:block;}
		
		{#
		/* Hotmail header color reset: Hotmail replaces your header color styles with a green color on H2, H3, H4, H5, and H6 tags. In this
		   example, the color is reset to black for a non-linked header, blue for a linked header, red for an active header (limited support),
		   and purple for a visited header (limited support).  Replace with your choice of color. The !important is really what is overriding
		   Hotmail's styling. Hotmail also sets the H1 and H2 tags to the same size.*/
		#}
			h1, h2, h3, h4, h5, h6 {color: #333137 !important;}
	
			h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: #88858d !important;}
	
			h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
				{# /* Preferably not the same color as the normal header link color.  There is limited support for psuedo classes in email clients, this was added just for good measure. */ #}
				color: #88858d !important; 
			 }
	
			h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
				{# /* Preferably not the same color as the normal header link color. There is limited support for psuedo classes in email clients, this was added just for good measure. */ #}
				color: #88858d !important;
			}

		{#
		/** Outlook 07, 10 Padding issue: These "newer" versions of Outlook add some padding around table cells potentially throwing off your perfectly pixeled table.  The issue can cause added space and also throw off borders completely.  Use this fix in your header or inline to safely fix your table woes.

		More info: http://www.ianhoar.com/2008/04/29/outlook-2007-borders-and-1px-padding-on-table-cells/
		http://www.campaignmonitor.com/blog/post/3392/1px-borders-padding-on-table-cells-in-outlook-07/

		H/T @edmelly

		Bring inline: No.
		**/
		#}
			table td {border-collapse: collapse;}
		
	</style>
</head>
<body bgcolor="{{ backgroundColor }}">
	{{ tags.background(backgroundColor) }}
	
		{# Logo #}
		{{ tags.text('text-align: center; padding: 20px 0 0 0;', 'center') }}
			{{ tags.a(portalPath, colorLink) }}
				{{ tags.img(basePath ~ '/assets/img/email/sitesupra-logo.png', 'SiteSupra', 204, 55) }}
			{{ tags.aEnd() }}
		{{ tags.textEnd() }}
		
		{# Sitesupra info, uncomment if needed #}
		{#
		{{ tags.text('text-align: center; padding: 30px 0 14px 0;' ~ textStyles) }}
			<b>SiteSupra</b> VAT Nr. LV40103624765 Baznicas 39-5, Riga, LV-1010, Latvia
		{{ tags.textEnd() }}
		#}
		
		{# Links, uncomment if needed #}
		{#
		{{ tags.text('text-align: center; padding: 0 0 14px 0;' ~ textStyles) }}
			{{ tags.a(portalPath, colorLink) }}www.sitesupra.com{{ tags.aEnd() }}
		 	&nbsp; &nbsp;
		 	{{ tags.a('mailto:sales@sitesupra.com', colorLink) }}sales@sitesupra.com{{ tags.aEnd() }}
		{{ tags.textEnd() }}
		#}
		
		{{ tags.row(0, 'center', 757, '#ffffff') }}
			{{ tags.col(0, 'left') }}
			
				{{ tags.imgBlock(basePath ~ '/assets/img/email/outline-top.png', '', 757, 21) }}
				
				{{ tags.row(0, 'center', 757) }}
					{{ tags.col(0, 'right', 24) }}
						
						{{ tags.imgBlock(basePath ~ '/assets/img/email/outline-left.png', '', 24, contentHeight) }}
					
					{{ tags.colEnd() }}
					{{ tags.col(0, 'left', 709) }}
						
						{# TEXT #}
						{% if title %}
							{{ tags.text('padding: 36px 0 10px 36px;' ~ textStylesH1) }}
								{{ title }}
							{{ tags.textEnd() }}
						{% endif %}
						
						{{ tags.text('padding: 0 0 10px 36px;' ~ textStyles) }}
						
							{% for name, value in postedFields %}
								{{ name }}: {{ value }}<br />
							{% endfor %}
						
						{{ tags.textEnd() }}
						
					{{ tags.colEnd() }}
					{{ tags.col(0, 'left', 24) }}
						
						{{ tags.imgBlock(basePath ~ '/assets/img/email/outline-right.png', '', 24, contentHeight) }}
						
					{{ tags.colEnd() }}
				{{ tags.rowEnd() }}
				
				{# Light bottom #}
				{{ tags.imgBlock(basePath ~ '/assets/img/email/outline-bottom.png', '', 757, 21) }}
			
			{{ tags.colEnd() }}
		{{ tags.rowEnd() }}
		
		{# Footer with text and link #}
		{{ tags.text('text-align: center; padding: 5px 0 0 0; font: 12px/22px ' ~ fontFamily ~ '; font-size: 12px; line-height: 22px; color: #717171;') }}
			{% block footer %}
			You are receiving this email because you are a registered member of the Sitesupra.com website.<br />
			{% endblock %}
			{#
			To unsubscrible from future service email. 
			{{ tags.a('http://...TODO...', colorLink) }}Click here.{{ tags.aEnd() }}
			#}
		{{ tags.textEnd() }}

		
		
		{# Footer, simple #}
		{#
		{{ tags.text('text-align: center; padding: 5px 0 0 0; font: 12px/17px ' ~ fontFamily ~ '; font-size: 12px; line-height: 17px; color: ' ~ colorText ~ ';') }}
			<b>© 2013 Sitesupra Inc.</b>
		{{ tags.textEnd() }}
		#}
	
	{{ tags.backgroundEnd() }}
</body>
</html>