<div class="text news-list" id="news-list">
	{{ supra.pageTitleHtmlTag('h1') | raw }}
	
	<p>
	{% for year in yearList %}
		{% if year.active %}<b>{% endif %}
			<a href="?year={{ year.creationYear }}">{{ year.creationYear }}</a>
		{% if year.active %}</b>{% endif %}
		{% if not loop.last %} / {% endif %}
	{% endfor %}
	</p>
		
	{% for year in yearList %}
		{% if year.publications %}
			{% for publication in year.publications %}
				<h3>
					<a href="/{{ supra.locale.id }}{{ publication.path }}">{{ publication.title }}</a>
					{{ publication.date.format('(d.m.Y)') }}
				</h3>
			{% endfor %}
			
			<div class="hr"></div>	
		{% endif %}
	{% endfor %}

</div>
