{% set design = supraBlock.property('design')|default('tabs') %}
{% set heading_class = 'no-heading' %}

{% if design == 'tabs' %}

	<section class="tabs block" data-attach="$.fn.tabs" data-refresh-event="tabs-accordion">
			
		{% set heading_class = 'no-heading' %}
		{% if supra.cmsRequest or not supraBlock.isEmpty('block_title') %}
		<h2 class="block-title {% if supraBlock.isEmpty('block_title') %}hidden{% endif %}"><div>
			{{ supraBlock.property('block_title') }}
			{% set heading_class = 'has-heading' %}
		</div></h2>
		{% endif %}
		
		<div class="tabs-inner {{ heading_class }}">
			<ul class="tabs-headings clearfix">
				{% set first = true %}
				{% for i in 1..50 %}
					{% set title = propertyMap["title_" ~ i] %}
					{% if supra.cmsRequest or title %}
						<li class="tabs-heading {% if first %}active{% endif %} {% if not title and not first %}supra-hidden{% endif %}">
							{% if supra.cmsRequest %}
								<div>{{ supraBlock.property("title_" ~ i) }}</div>
							{% else %}
								<a href="#tab{{ i }}">{{ supraBlock.property("title_" ~ i) }}</a>
							{% endif %}
						</li>
						{% set first = false %}
					{% endif %}
				{% endfor %}
			</ul>
			<div class="tabs-container">
				{% set first = true %}
				{% for i in 1..50 %}
					{% set title = propertyMap["title_" ~ i] %}
					{% if supra.cmsRequest or title %}
						<div class="tabs-content text clearfix {% if first %}active{% endif %} {% if not title and not first %}supra-hidden{% endif %}" name="tab{{ i }}">
							{{ supraBlock.property("content_" ~ i) }}
						</div>
						{% set first = false %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
	
{% elseif design == 'accordion' %}

	<section class="accordion block" data-attach="$.fn.accordion" data-refresh-event="tabs-accordion">
		
		{% set heading_class = 'no-heading' %}
		{% if supra.cmsRequest or not supraBlock.isEmpty('block_title') %}
		<h2 class="block-title {% if supraBlock.isEmpty('block_title') %}hidden{% endif %}"><div>
			{{ supraBlock.property('block_title') }}
			{% set heading_class = 'has-heading' %}
		</div></h2>
		{% endif %}
		
		<div class="accordion-inner {{ heading_class }}">
			{% set first = true %}
			{% for i in 1..50 %}
				{% set title = propertyMap["title_" ~ i] %}
				<!-- {{ title }} -->
				{% if supra.cmsRequest or title %}
					<div class="accordion-item {% if first %}{% endif %} {% if not title and not first %}supra-hidden{% endif %}">
						<h5 class="accordion-heading">
							<span class="arrow"></span>
							{% if supra.cmsRequest %}
								<div>{{ supraBlock.property("title_" ~ i) }}</div>
							{% else %}
								<a href="#accordion{{ i }}">{{ supraBlock.property("title_" ~ i) }}</a>
							{% endif %}
						</h5>
						<div class="accordion-content text clearfix" name="accordion{{ i }}">
							{{ supraBlock.property("content_" ~ i) }}
						</div>
					</div>
					{% set first = false %}
				{% endif %}
			{% endfor %}
		</div>
		
	</section>
	
{% endif %}




{# 
	Instructions how to locate items in CMS content manager edit mode
		name - property name, where %d is used as property number
		item-selector - CSS selector to find list item which will be shown/hidden
#}

{% if supra.cmsRequest %}
	{% if design == 'tabs' %}
		{% raw %}
		<script type="text/supra-instructions">
			{
				"orientation": "horizontal",
				"properties": [
					{
						"name": "title_%d",
						"item-selector": ".tabs-heading",
						"classname-active": "active"
					},
					{
						"name": "content_%d",
						"item-selector": ".tabs-content",
						"classname-active": "active"
					}
				]
			}
		</script>
		{% endraw %}
	{% elseif design == 'accordion' %}
		{% raw %}
		<script type="text/supra-instructions">
			{
				"orientation": "vertical",
				"properties": [
					{
						"name": "title_%d",
						"item-selector": ".accordion-item",
						"classname-active": "active"
					},
					{
						"name": "content_%d",
						"item-selector": ".accordion-item",
						"classname-active": "active"
					}
				]
			}
		</script>
		{% endraw %}
	{% endif %}
{% endif %}
