{% import _self as slideshow %}

<div class="block">
	<div class="slideshow-advanced" data-refresh-event="slideshowAdvanced" {% if supraBlock.property('scrollTimerEnabled') %}data-scroll-timer="{{ supraBlock.property('scrollTimerDelay') }}"{% endif %} {% if supraBlock.property('animation') %}data-animation="{{ supraBlock.property('animation') }}"{% endif %}>
		<ul class="as-container" data-supra-container="true">
			{% if slides %}
				{# Slide data here #}
				{% for slide in slides %}
					{% set property = {
						'hidden': loop.index,
						'media': slideshow.media(slide['media']), 
						'text_main': slide['text_main'],
						'text_top': slide['text_top'],
						'background': slideshow.background(slide['background']),
						'buttons': slideshow.buttons(slide['buttons']),
						'height': slide['height'],
					} %}
				
					{# FIXME: bad solution #}
					{% include 'templates/' ~ slide.layout ~ '.html' %}
				{% endfor %}
			{% endif %}
			
		</ul>
		<div class="decoration"></div>
	</div>
</div>

{% macro media(mediaData) %}
{% spaceless %}
	{% if mediaData.type == 'image' %}
		{{ supraBlock.imageHtmlTag(mediaData.id, mediaData.size_width, mediaData.size_height, true, mediaData.size_name) | raw }}
	{% elseif mediaData.type == 'video' %}
		{% set video = mediaData %}

		{# Default width and height, resizing is done by javascript #}
		{% set width = 500 %}
		{% set ratio = 16/9 %}
		{% set height = width/ratio %}

		{% if video.resource == 'source' %}
			{# HTML #}
			<div class="video" data-attach="$.fn.resize">
				{% if video.source_type == 'iframe' %}
					<iframe src="{{ video.src }}" width="{{ video.width }}" height="{{ video.height }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				{% elseif video.source_type == 'embed' %}
					<object width="{{ video.width }}" height="{{ video.height }}">
						<param name="movie" value="{{ video.src }} "></param>
						<param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param>
						<embed{% if supra.isCmsRequest %} wmode="opaque"{%endif%} src="{{ video.src }}" type="application/x-shockwave-flash" width="{{ video.width }}" height="{{ video.height }}" allowscriptaccess="always" allowfullscreen="true"></embed>
					</object>
				{% endif %}
			</div>

		{% elseif video.resource == 'link' and video.id %}
			{% if video.service == 'youtube' %}
				<div class="video" data-attach="$.fn.resize">
					<iframe src="http://www.youtube.com/embed/{{ video.id }}?hd=1&wmode=opaque&controls=1&showinfo=0;rel=0" width="{{ width }}" height="{{ height|number_format }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>
			{% elseif video.service == 'vimeo' %}
				<div class="video" data-attach="$.fn.resize">
					<iframe src="http://player.vimeo.com/video/{{ video.id }}?title=0&amp;byline=0&amp;portrait=0&amp;color=0" width="{{ width }}" height="{{ height|number_format }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>
			{% endif %}
		{% endif %}
	{% endif %}
{% endspaceless %}
{% endmacro %}

{% macro background(backgroundData) %}
{% spaceless %}
	{% if backgroundData %}
		{% set tag = supraBlock.imageHtmlTag(backgroundData.id, backgroundData.size_width, backgroundData.size_height, true, backgroundData.size_name) %}
		{% set src = tag.attribute('src') %}
		{{ src }}
	{% endif%}
{% endspaceless %}
{% endmacro %}

{% macro buttons(buttonsData)%}
{% spaceless %}
	{% if buttonsData %}
		{% for button in buttonsData %}
			<a class="button" {% if button.link %}href="{{ button.link.href }}"{% endif %}>{{ button.title }}</a>
		{% endfor %}
	{% endif %}
{% endspaceless %}
{% endmacro %}