{% macro menu_block(title, link, links) %}
{% if title %}
<li class="one_third">
	<div class="text">
		<h2>
			{% if link %}
				<a href="/{{ supra.locale.id }}{{ link }}">{{ title }}</a>
			{% else %}
				{{ title }}
			{% endif %}
		</h2>
		{% if links %}
		<ul>
			{% for data in links %}
				{% set item = data.localization %}
				{% set active = supra.isActive(item.path, true) %}

				<li{% if active %} class="active"{% endif %} ><a href="/{{ supra.locale.id }}{{ item.path }}">{{ item.title }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</li>
{% endif %}
{% endmacro %}

<div class="footer-menu">
	<div class="inner">
		<ul class="clearfix content">
			{{ _self.menu_block(title1, link1, items1) }}
			{{ _self.menu_block(title2, link2, items2) }}
			{{ _self.menu_block(title3, link3, items3) }}
		</ul>
	</div>
</div>