{%if action == 'subscribe' %}

	<h1>{{ supraBlock.property('SubscribeAction') | raw }}</h1>	
	
	{%if (postedData != true  or error is not null) %}

		{% if error is not null %}
			{% for key, value in error %}				
				<div style="color:red;">{{ supraBlock.property(value) | raw }}</div>
			{% endfor %} 
		{%endif%}
	
		<form  method="post" >
			<label>{{ supraBlock.property('Name') | raw }}</label><input type="text" name="name" value="{{name}}"/>
			<br/>
			<label>{{ supraBlock.property('EmailAddress') | raw }}</label><input type="text" name="email" value="{{email}}"/>
			<br/>
			<button type="submit">{{ supraBlock.property('Submit') | raw }}</button>
		</form>

	{%else%}
		<h1>{{ supraBlock.property('SubscribtionConfirmationEmailSendOn') | raw }} {{ email }}</h1>
	{%endif%}
		
{%elseif action == 'unsubscribe' %}
		
	<h1>{{ supraBlock.property('UnsubscribeAction') | raw }}</h1>	
	
	{%if (postedData != true or error is not null) %}
	
		{% if error is not null %}
			{% for key, value in error %}				
				<div style="color:red;">{{ supraBlock.property(value) | raw }}</div>
			{% endfor %} 
		{%endif%}
	
		<form  method="post" >
			<label>{{ supraBlock.property('EmailAddress') | raw }}</label><input type="text" name="email"/>
			<button type="submit">{{ supraBlock.property('Submit') | raw }}</button>
		</form>
	
	{%else%} 
	
		<h1>{{ supraBlock.property('UnsubscribeConfirmationEmailSendOn') | raw }} {{ email }}</h1>
	
	{%endif%}
		
{%elseif action == 'confirm_subscribe' %}
<h1>		
		{%if error == true %}
			{{ supraBlock.property('wrong_confirm_url') | raw }}
		{%else%}
			{{ supraBlock.property('subscribtion_confirmed') | raw }}			
		{%endif%}
			
{%elseif action == 'confirm_unsubscribe' %}
			
		{%if error == true %}
			{{ supraBlock.property('wrong_confirm_url') | raw }}
		{%else%}
			{{ supraBlock.property('unsubscribe_success') | raw }}			
		{%endif%}
</h1>		
{%endif%}