{% extends "internal-user-manager/restore/main.html.twig" %}

{% block title %}Restore password form{% endblock %}

{% block content %}

	{% if errorMessage %}
		<p>{{ errorMessage }}</p>
	{% endif %}

	<form name="input" action="{{ basePath }}changepassword" method="post">

		<label for="password">Choose a password: </label>
		<input id="password" type="password" name="password" />

		<label for="confirm_password">Re-enter password: </label>
		<input id="confirm_password" type="password" name="confirm_password" />

		<input id="email" type="hidden" name="e" value="{{ email }}" />
		<input id="time" type="hidden" name="t" value="{{ time }}" />
		<input id="hash" type="hidden" name="h" value="{{ hash }}" />

		<input type="submit" value="Submit" />
	</form>
{% endblock %}
