<div class="socials block">

	{% set heading_class = 'no-heading' %}
	{% set title_empty = supraBlock.isEmpty('block_title') %}
	{% if supra.cmsRequest or not title_empty %}
	<h2 class="block-title {% if title_empty %}hidden{% endif %}"><div>
		{{ supraBlock.property('block_title') }}
		{% if not title_empty %}
			{% set heading_class = 'has-heading' %}
		{% endif %}
	</div></h2>
	{% endif %}

	<div class="socials-inner {{ heading_class }}" data-refresh-event="socials">
		{% set link = supraBlock.property('youtube') %}
		{% if link %}<a href="{{link.getUrl()}}" class="social social-youtube" {% if link.target %}target="{{ link.target }}"{%endif%}></a>{%endif%}
		{% set link = supraBlock.property('twitter') %}
		{% if link %}<a href="{{link.getUrl()}}" class="social social-twitter" {% if link.target %}target="{{ link.target }}"{%endif%}></a>{%endif%}
		{% set link = supraBlock.property('facebook') %}
		{% if link %}<a href="{{link.getUrl()}}" class="social social-facebook" {% if link.target %}target="{{ link.target }}"{%endif%}></a>{%endif%}
		{% set link = supraBlock.property('flickr') %}
		{% if link %}<a href="{{link.getUrl()}}" class="social social-flickr" {% if link.target %}target="{{ link.target }}"{%endif%}></a>{%endif%}
		{% set link = supraBlock.property('rss') %}
		{% if link %}<a href="{{link.getUrl()}}" class="social social-rss" {% if link.target %}target="{{ link.target }}"{%endif%}></a>{%endif%}
	</div>
</div>
