{# Default width and height, resizing is done by javascript #}
{% set width = 560 %}
{% set ratio = 16/9 %}
{% set height = width/ratio %}

{% set video = supraBlock.property('video') %}

{% if video %}

	{% if not supraBlock.isEmpty('block_title') %}
	<h2 class="block-title"><div>
		{{ supraBlock.property('block_title') }}
	</div></h2>
	{% endif %}

	{% if video.resource == 'source' %}
		{# HTML #}
		<div class="block video" data-attach="$.fn.resize">
			{% if video.source_type == 'iframe' %}
				<iframe src="{{ video.src }}" width="{{ video.width }}" height="{{ video.height }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			{% elseif video.source_type == 'embed' %}
				<object width="{{ video.width }}" height="{{ video.height }}">
					<param name="movie" value="{{ video.src }} "></param>
					<param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param>
					<embed{% if supra.isCmsRequest %} wmode="opaque"{%endif%} src="{{ video.src }}" type="application/x-shockwave-flash" width="{{ video.width }}" height="{{ video.height }}" allowscriptaccess="always" allowfullscreen="true"></embed>
				</object>
			{% endif %}
		</div>

	{% elseif video.resource == 'link' and video.id %}

		{% if video.service == 'youtube' %}
			<div class="block video" data-attach="$.fn.resize">
				<iframe src="http://www.youtube.com/embed/{{ video.id }}?hd=1&wmode=opaque&controls=1&showinfo=0;rel=0" width="{{ width }}" height="{{ height|number_format }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>
		{% elseif video.service == 'vimeo' %}
			<div class="block video" data-attach="$.fn.resize">
				<iframe src="http://player.vimeo.com/video/{{ video.id }}?title=0&amp;byline=0&amp;portrait=0&amp;color=0" width="{{ width }}" height="{{ height|number_format }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>
		{% endif %}

	{% elseif video.resource == 'file' %}

		{# File from media library, but not right now! #}

	{% endif %}
{% endif %}