<form action="{{self}}" method="post">
	
	<div>
		<label for="login">{{ supraBlock.property('loginLabel') }}</label>
		<span><input type="text" name="login" id="login" value="{{login}}" /></span>
	</div>
	
	<div>
		<label for="password">{{ supraBlock.property('passwordLabel') }}</label>
		<span><input type="password" name="password" id="password" value="" /></span>
	</div>
	
	<div>
		<span><input type="submit" value="{{ supraBlock.property('loginButtonLabel') }}" /></span>
	</div>
	
	{% if message %}
	<div>
		<span class="error">{{message}}</span>
	</div>
	{% endif %}
	
</form>