{% set testimonials = supraBlock.property('images') %}
{% set navigation = supraBlock.property('navigation')|default('none') %}
{% set heading_class = 'no-heading' %}

<div class="block">
	
	{% set heading_class = 'no-heading' %}
	{% if supra.cmsRequest or not supraBlock.isEmpty('block_title') %}
	<h2 class="block-title {% if supraBlock.isEmpty('block_title') %}hidden{% endif %}"><div>
		{{ supraBlock.property('block_title') }}
		{% set heading_class = 'has-heading' %}
	</div></h2>
	{% endif %}
	
	<div class="testimonials {{ heading_class }}" data-refresh-event="carousel" data-list=".testimonials-inner" data-items="blockquote" data-animation="fade" data-classname="" data-timer="5000" data-keyboard="false" data-touch="false" data-{{ navigation }}="true">
		<div class="testimonials-inner">
			{% for index, testimony in testimonials %}
			<blockquote class="hreview">
				<span class="item hidden"><span class="fn">PAGE NAME</span></span>
				
				<q class="description">{% spaceless %}
					<span class="deco"></span>"{{ testimony.property.testimony|trim }}"
				{% endspaceless %}</q>
				
				<span class="who">
					<span class="photo">
						{% set tag = supraBlock.imageHtmlTag( testimony.imageId, 50, 50, true, testimony.size_name ) | raw %}
						{% if testimony.imageId %}
							{{ tag|raw }}
						{% else %}
							<span class="photo-empty"></span>
						{% endif %}
					</span>
					
					{% if testimony.property.link %}
						<a href="{{ testimony.property.link.url }}" target="{{ testimony.property.link.target }}" class="reviewer">
							<em class="valign"{% if tag %} style="height: {{ tag.getAttribute('height') }}px"{% endif %}></em><em>{{ testimony.property.name }}</em>
						</a>
					{% else %}
						<span class="reviewer">
							<em class="valign"{% if tag %} style="height: {{ tag.getAttribute('height') }}px"{% endif %}></em><em>{{ testimony.property.name }}</em>
						</span>
					{% endif %}
				</span>
			</blockquote>
			{% endfor %}
		</div>
	</div>
	
	{% if supra.cmsRequest %}{% raw %}
	<script type="text/supra-template" data-supra-container-selector="div.testimonials" data-supra-item-selector="blockquote" data-supra-id="gallerymanager-item">
		
		<blockquote class="hreview">
			<div class="description">
				<span class="deco"></span>
				<div>{{ property.testimony }}</div>
			</div>
			
			<div class="who">
				<div class="photo"><img src="about:blank" alt="" width="50" height="50" /></div>
				<div class="reviewer"><div class="valign"></div><div>{{ property.name }}</div></div>
			</div>
		</blockquote>
		
	</script>
	{% endraw %}{% endif %}
	
</div>
