<!-- {{ comment }} -->

<div class="text">
	{#% if supraBlock.property('title') %#}
	{% if supraBlock.property('usePageTitle') %}
		<h2{% if supra.cmsRequest %} class="su-settings-title"{% endif %}>{{ supra.request.pageLocalization.title }}</h2>
	{% else %}
		<h2{% if supra.cmsRequest %} class="su-settings-title"{% endif %}>{{ supraBlock.property('title') }}</h2>
	{% endif %}
	
	{% set image = supraBlock.property('image') %}
	{% set imageTagHtml = supraBlock.imageHtmlTag( image, 200, 100, false ).toHtml() %}
	
	{% if imageTagHtml %}
		<div class="image">{{ imageTagHtml | raw }}</div>
	{% endif %}
	
	{{ supraBlock.property('content') }}
</div>
