{% if comments|length %}
<div class="block blog-comments">
	
	<h2 class="block-title"><div>
		{% set length = comments | length %}
		{% if length > 1 %}{% set pluralEnding = 's' %}{% else %}{% set pluralEnding = '' %}{% endif %}
		{% set title = supraBlock.property('list_title') %}
		{{ title | replace({'%count': length, '%plural': pluralEnding}) |raw }}
	</div></h2>
	
	<div class="comments-list has-heading">
		{# Comment #}
		{% for comment in comments %}
		<article {% if supra.cmsRequest %}data-attach="$.app.Comments" data-id="{{ supraBlock.block.id }}_{{ loop.index }}" data-comment-id="{{ comment.id }}" data-parent-id="{{ blogApplicationLocalizationId }}"{% endif %}>
			<div class="comment">
				<div class="avatar">
					<img src="/themes/primo/assets/img/temp/avatar.jpg" alt="" />
				</div>
				<div class="meta-info">
					<span class="author">{{ comment.authorName }}</span>
					<time datetime="{{ comment.creationTime | date('Y-m-d') }}">{{ comment.creationTime | date("F j,Y \\a\\t g:i a") }}</time>
					
					{% if supra.cmsRequest %}
						<a class="supra-button" onclick="$.app.trigger('{{ supraBlock.block.id }}_{{ loop.index }}', 'confirmRemoveComment')" href="javascript://">Delete comment</a>
						
						<a class="supra-button button-approve {% if comment.approved %}supra-hidden{% endif %}" onclick="$.app.trigger('{{ supraBlock.block.id }}_{{ loop.index }}', 'approveComment')" href="javascript://">Approve</a>
						<a class="supra-button button-unapprove {% if not comment.approved %}supra-hidden{% endif %}" onclick="$.app.trigger('{{ supraBlock.block.id }}_{{ loop.index }}', 'unapproveComment')" href="javascript://">Unapprove</a>
					{% endif %}
				</div>
				<p>{{ comment.comment | nl2br }}</p>
			</div>
		</article>
		{% endfor %}
	</div>
	
</div>
{% endif %}
<div class="block blog-comments-form" id="comment-form" name="comment-form">
	{% set heading_class = 'no-heading' %}
	{% set title_empty = supraBlock.isEmpty('form_title') %}
	{% if supra.cmsRequest or not title_empty %}
	<h2 class="block-title {% if title_empty %}hidden{% endif %}"><div>
		{{ supraBlock.property('form_title') }}
		{% if not title_empty %}
			{% set heading_class = 'has-heading' %}
		{% endif %}
	</div></h2>
	{% endif %}
	
	{% if success and errors|default(null) is empty %}
		<div class="blog-comments-confirmation">
			<p>{{ supraBlock.property('message_sent_for_review') }}</p>
		</div>
	{% endif %}
	
	<form class="form {{ heading_class }}" method="post" action="{{ supra.localization.path }}?postComment#comment-form" data-refresh-event="form">
				
		<div class="pure-g pure-g-r">
			<div class="pure-u pure-u-1-2 row">
				<label for="name">{{ supraBlock.property('label_name') }}<sup class="required">*</sup></label>
				<input type="text" class="input-text {% if errors.name is defined %}invalid{% endif %}" value="{{ values.name }}" placeholder="{{ supraBlock.property('label_name')|e }}" name="name" id="name" required />
				{% if errors.name is defined %}
					<em class="error-message">{{ errors.name }}</em>
				{% endif %}
			</div>
			<div class="pure-u pure-u-1-2 row">
				<label for="email">{{ supraBlock.property('label_email') }}<sup class="required">*</sup></label>
				<input type="email" class="input-text {% if errors.email is defined %}invalid{% endif %}" value="{{ values.email }}" placeholder="{{ supraBlock.property('label_email')|e }}" name="email" id="email" required />
				{% if errors.email is defined %}
					<em class="error-message">{{ errors.email }}</em>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<label for="url">{{ supraBlock.property('label_website') }}</label>
			<input type="text" class="input-text {% if errors.url is defined %}invalid{% endif %}" value="{{ values.url }}" placeholder="{{ supraBlock.property('label_website')|e }}" name="url" id="url" />
			{% if errors.url is defined %}
				<em class="error-message">{{ errors.url }}</em>
			{% endif %}
		</div>
		<div class="row">
			<label for="comment">{{ supraBlock.property('label_comment') }}<sup class="required">*</sup></label>
			<textarea class="input-text {% if errors.comment is defined %}invalid{% endif %}" placeholder="{{ supraBlock.property('label_comment')|e }}" name="comment" id="comment" required>{{ values.comment }}</textarea>
			{% if errors.comment is defined %}
				<em class="error-message">{{ errors.comment }}</em>
			{% endif %}
		</div>
		<div class="row form-footer">
			<button type="submit" class="button-2">{{ supraBlock.property('label_submit')|e }}</button>
		</div>
		
	</form>
</div>