<div class="block blog-comments">
	
	<h2 class="block-title"><div>
		{% if not supra.cmsRequest %}{{ commentCount }}{% endif %}
		{{ supraBlock.property('list_title') }}
	</div></h2>
	
	<div class="comments-list">
		
		{# Comment #}
		<article {% if supra.cmsRequest %}data-attach="$.app.Comments" data-id="{{ supraBlock.block.id }}_1" data-url="{{ supra.request.pageLocalization.path }}?block_id={{ supraBlock.block.id }}&comment_id=1&action=remove_comment"{% endif %}>
			<div class="comment">
				<div class="avatar">
					<img src="/themes/primo/assets/img/temp/avatar.jpg" alt="" />
				</div>
				<div class="meta-info">
					<span class="author">Admin</span>
					<time datetime="2013-02-07T13:38">February 7, 2013 at 1:38 pm</time>
					
					{% if supra.cmsRequest %}
						<a class="button tiny supra-button" onclick="$.app.trigger('{{ supraBlock.block.id }}_1')" href="javascript://">Delete comment</a>
					{% endif %}
				</div>
				<p>
					This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.<br />
					This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.<br />
					This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.
				</p>
			</div>
		</article>
		<article {% if supra.cmsRequest %}data-attach="$.app.Comments" data-id="{{ supraBlock.block.id }}_2" data-url="{{ supra.request.pageLocalization.path }}?block_id={{ supraBlock.block.id }}&comment_id=2&action=remove_comment"{% endif %}>
			<div class="comment">
				<div class="avatar">
					<img src="/themes/primo/assets/img/temp/avatar.jpg" alt="" />
				</div>
				<div class="meta-info">
					<a class="author" rel="author" href="http://www.google.com" target="_blank">Admin</a>
					<time datetime="2013-02-07T13:38">February 7, 2013 at 1:38 pm</time>
					
					{% if supra.cmsRequest %}
						<a class="button tiny supra-button" onclick="$.app.trigger('{{ supraBlock.block.id }}_2')" href="javascript://">Delete comment</a>
					{% endif %}
				</div>
				<p>
					<em>Your comment is awaiting moderation.</em><br />
					This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.
				</p>
			</div>
		</article>
		
	</div>
	
</div>
<div class="block blog-comments-form">
	
	{% set heading_class = 'no-heading' %}
	{% if not supraBlock.isEmpty('form_title') %}
	<h2 class="block-title"><div>
		{{ supraBlock.property('form_title') }}
		{% set heading_class = 'has-heading' %}
	</div></h2>
	{% endif %}
	
	<form class="form {{ heading_class }}" method="post">
		
		<div class="clearfix">
			<div class="one_third grid_item alpha">
				<label for="name">{{ supraBlock.property('label_name') }}<sup class="required">*</sup></label>
				<input type="text" class="input-text" value="" placeholder="{{ supraBlock.property('label_name')|e }}" name="name" id="name" required />
			</div>
			<div class="one_third grid_item">
				<label for="email">{{ supraBlock.property('label_email') }}<sup class="required">*</sup></label>
				<input type="email" class="input-text" value="" placeholder="{{ supraBlock.property('label_email')|e }}" name="email" id="email" required />
			</div>
			<div class="one_third grid_item omega">
				<label for="url">{{ supraBlock.property('label_website') }}<sup class="required">*</sup></label>
				<input type="url" class="input-text" value="" placeholder="{{ supraBlock.property('label_website')|e }}" name="url" id="url" />
			</div>
		</div>
		<div class="row">
			<label for="comment">{{ supraBlock.property('label_comment') }}<sup class="required">*</sup></label>
			<textarea class="input-text" placeholder="{{ supraBlock.property('label_comment')|e }}" name="comment" id="comment" required></textarea>
		</div>
		<div class="row form-footer">
			<button type="submit" class="button-2">{{ supraBlock.property('label_submit')|e }}</button>
		</div>
		
	</form>
	
</div>