<div class="search">

	<hr />

	<table border="1">
		<tr>
			<td>class</td>
			<td>order item id</td>
			<td>description</td>
			<td>product id</td>
			<td>amount</td>
			<td>price</td>
		</tr>
	{% for orderItem in orderItems %}
		<tr>
			<td>{{ orderItem.getClassName() }}</td>
			<td>{{ orderItem.getId() }}</td>
			<td>{{ orderItem.getDescription() }}</td>
			<td>{{ orderItem.getProductId() }}</td>
			<td>{{ orderItem.getQuantity() }}</td>
			<td>{{ orderItem.getPrice() }}</td>
		</tr>
	{% endfor %}
	</table>
	
	<form method="get" action="{{ updateOrderActionUrl }}">
		<input type="text" name="amount" value=""/>
		<input type="submit" name="updateOrder" value="UPDATETH ALL TEH THINGS!" />
		<input type="hidden" name="shopAction" value="update" />
	</form>

	<hr />

	<form method="get" action="">
		<input type="submit" name="submit" value="MAKETH TEH PAMYENTH!" />
		<input type="hidden" name="orderId" value="{{ orderId }}" />
		<input type="hidden" name="shopAction" value="submit" />
	</form>

	<hr />

	<form method="get" action="">
		<input type="submit" name="submit" value="MAKETH TEH RECURRING PAYMENT!" />
		<input type="hidden" name="shopAction" value="submitRecurring" />
	</form>

	<hr />

</div>
