{% if voted %}
	<h2>Results</h2>
	<ul data-attach="$.fn.pollVisualization">
		<li data-count="{{ data.a + 0 }}">A – {{ data.a + 0 }}</li>
		<li data-count="{{ data.b + 0 }}">B – {{ data.b + 0 }}</li>
		<li data-count="{{ data.c + 0 }}">C – {{ data.c + 0 }}</li>
	</ul>
	
	<hr />
	
	<a onclick="$.app.trigger('{{ supraBlock.block.id }}', [{'reset': true}])" href="javascript://">I haven't voted yet!</a>
{% else %}
	<h2>Poll</h2>
	<ul>
		<li><input type="radio" onclick="$.app.trigger('{{ supraBlock.block.id }}', [ {'vote': 'a' }])" />A</li>
		<li><input type="radio" onclick="$.app.trigger('{{ supraBlock.block.id }}', [ {'vote': 'b' }])" />B</li>
		<li><input type="radio" onclick="$.app.trigger('{{ supraBlock.block.id }}', [ {'vote': 'c' }])" />C</li>
	</ul>
	
	<hr />
	
	<a onclick="$.app.trigger('{{ supraBlock.block.id }}', [{'show': true}])" href="javascript://">Just show me the results</a>
{% endif %}

{# TODO: maybe this might be done simpler? #}
{% set js %}
<script type="text/javascript">
	$.fn.pollVisualization = function () {
		var max = 0;
		var li = $(this).find('li');
		li.each( function() {
			var cnt = parseInt($(this).data('count'));
			if (cnt > max) max = cnt;
		});
		if (max == 0) max = 1;
		li.each( function() {
			var cnt = parseInt($(this).data('count'));
			var div = $('<div></div>').height('10px')
				.css('background-color', 'blue')
				.width((100 / max * cnt + 1) + 'px');
			$(this).append(div);
		});
	};
</script>
{% endset %}

{% do supra.responseContext.addToLayoutSnippet('js', js) %}
