<div class="block blog-post">
	
	<div class="page-title">
		{{ supra.pageTitleHtmlTag('h1') | raw }}
	</div>
	
	{% set media = supraBlock.property('media') %}
	{% if media or supra.cmsRequest %}
	<figure class="media">
		<div id="content_{{ supraBlock.getBlock().getId() }}_media" class="yui3-content-inline yui3-input-media-inline-content"></div>
		{#   {{ media }}   #}
	</figure>
	{% endif %}
	
	<div data-refresh-event="text" class="text">
		{{ supraBlock.property('content') }}
	</div>
	
	<div class="meta-info">
		{% set date = supra.localization.getCreationTime() %}
		<time datetime="{{ date.format('Y-m-d') }}">{{ date.format('F j, Y') }}</time>

		{% set tags = supra.localization.getTagArray() %}
		{% if tags|length %}
		<span class="separator">|</span>
		<span class="tags">
			{% for tag in tags %}
				<a class="tag" href="?tag={{ tag|url_encode }}">{{ tag|e }}</a>{% if not loop.last %}, {% endif %}
			{% endfor %}
		</span>
		{% endif %}
	</div>
	
</div>