<div class="socials block">
	<div class="socials-inner">
		{% set link = supraBlock.property('youtube') %}
		{% if link %}<a href="{{link.getUrl()}}" class="social social-youtube" {% if link.target %}target="{{ link.target }}"{%endif%}></a>{%endif%}
		{% set link = supraBlock.property('twitter') %}
		{% if link %}<a href="{{link.getUrl()}}" class="social social-twitter" {% if link.target %}target="{{ link.target }}"{%endif%}></a>{%endif%}
		{% set link = supraBlock.property('facebook') %}
		{% if link %}<a href="{{link.getUrl()}}" class="social social-facebook" {% if link.target %}target="{{ link.target }}"{%endif%}></a>{%endif%}
		{% set link = supraBlock.property('flickr') %}
		{% if link %}<a href="{{link.getUrl()}}" class="social social-flickr" {% if link.target %}target="{{ link.target }}"{%endif%}></a>{%endif%}
		{% set link = supraBlock.property('rss') %}
		{% if link %}<a href="{{link.getUrl()}}" class="social social-rss" {% if link.target %}target="{{ link.target }}"{%endif%}></a>{%endif%}
	</div>
</div>
