<li {% if property.hidden %}class="hidden"{% endif %}>
	{% if property.background %}
		<img class="as-layer absolute as-background" src="{{ property.background }}" />
	{% endif %}
	<div class="as-wrapper as-align-center" {% if property.height %}style="min-height: {{ property.height }}px;"{% endif %} data-supra-item-height="true">
		<div class="as-layer as-layer-full as-layer-{{ property.mediaType|raw }}">
			{{ property.media|raw  }}
		</div>
		{% if property.buttons_overlay %}
			{{ property.buttons_overlay|raw }}
		{% endif %}
	</div>
</li>