<!-- {{ comment }} -->

<div class="text">
	
	{% if supraBlock.property('usePageTitle') %}
		{{ supra.pageTitleHtmlTag('h2') | raw }}
	{% else %}
		<h2>{{ supraBlock.property('title') }}</h2>
	{% endif %}
	
	{% set image = supraBlock.property('image') %}
	{% set imageTagHtml = supraBlock.imageHtmlTag( image, 200, 100, false ) %}
	
	{% if imageTagHtml %}
		<div class="image">{{ imageTagHtml | raw }}</div>
	{% endif %}
	
	{{ supraBlock.property('content') }}
</div>
