{% if orderStatus is not null and orderStatus == 200 %}
	<div>
		<div class="pathBar">
			{% if appName is defined %}
				<h1 class="heading">{{ 'Покупка приложения'|trans }} {{ appName }}</h1>
			{% else %}
				<h1 class="heading">{{ 'Пополнить счёт'|trans }}</h1>
			{% endif %}
		</div>

		<form class="form-payup form-required" action="{{ action }}" method="post" enctype="application/x-www-form-urlencoded">
			{% if errorMessages %}
			<ul> 
				{% for errorMessage in errorMessages %}
					<li>{{ errorMessage | raw }}</li>
				{% endfor %}
			</ul>
			{% endif %}

			<p class="fp-cards">
				<label class="radio" for="mode_type_57">
					{{ 'Банковская карта'|trans }}<span class="visa">VISA</span> <span class="mastercard">MasterCard</span>
					<input type="radio" name="mode_type" checked="checked" value="57" id="mode_type_57" />
				</label>
			</p>

			<p class="fp-pay">
				{% if appName is defined %}
					<span class="price">{{ appPrice }} {{ appCurrency }}</span>
					<button type="submit" class="button button-min">{{ 'Оплатить'|trans }}</button>
				{% else %}
					<input class="textInput required" type="text" value="" name="amount" placeholder="{{ 'Сумма' | trans }}"/>
					<button type="submit" class="button button-min">{{ 'Пополнить'|trans }}</button>
				{% endif %}
			</p>

		</form>
	</div>
{% else %}
	<p>Dengi Form Block</p>
{% endif %}
