<nav class="header-menu desktop tablet">
<ul class="clearfix">

{% set level = 0 %}
{% set prevLevel = 0 %}

{% for data in items %}

	{% set child = data.localization %}
	{% set level = data.level %}
	
	{% if level != 1 and level > prevLevel %}
		{% set diff = level-prevLevel %}
		{% for i in 1..diff %}
			<ul style="display:none">
		{% endfor %}
	{% elseif level < prevLevel %}
		{% set diff = prevLevel-level %}
		</li>
		{% for i in 1..diff %}
			</ul>
			</li>
		{% endfor %}
	{% elseif level == prevLevel %}
		</li>
	{% endif %}

	{% set active = supra.isActive(child.path, true) %}
	<li{% if active %} class="active"{% endif %}>
	
	<a href="{{ child.path }}">{{ child.title }}</a>
		
	{% set prevLevel = level %}

{% endfor %}
		
{# Close unclosed lists #}
{% if prevLevel > 1 %}
{% for i in 2..prevLevel %}
	</li>
	</ul>
{% endfor %}
{% endif %}

</li>
</ul>
</nav>

<nav class="header-menu mobile"><div class="form">

	<div class="selector" data-toggle="selectors" data-default-behaviour="true">
		<a>
			{% set has_title = false %}
			{% for data in items %}
				{% set child = data.localization %}
				{% set active = supra.isActive(child.path, true) %}
				{% if active %}
					<input type="hidden" value="{{ child.path }}" />
					<span>{{ child.title }}</span>
					<i></i>
					{% set has_title = true %}
				{% endif %}
			{% endfor %}
			{% if not has_title %}
				<span>{{ supra.request.pageLocalization.title }}</span><i></i>
			{% endif %}
		</a>
		<div class="selector-dropdown"><div class="selector-inner">
			<ul>
			{% set level = 0 %}
			{% set prevLevel = 0 %}

			{% for data in items %}

				{% set child = data.localization %}
				{% set level = data.level %}

				{% if level != 1 and level > prevLevel %}
					{% set diff = level-prevLevel %}
					{% for i in 1..diff %}
						<ul>
					{% endfor %}
				{% elseif level < prevLevel %}
					{% set diff = prevLevel-level %}
					</li>
					{% for i in 1..diff %}
						</ul>
						</li>
					{% endfor %}
				{% elseif level == prevLevel %}
					</li>
				{% endif %}

				<li>

				<a href="{{ child.path }}">{{ child.title }}</a>

				{% set prevLevel = level %}

			{% endfor %}

			{# Close unclosed lists #}
			{% if prevLevel > 1 %}
			{% for i in 2..prevLevel %}
				</li>
				</ul>
			{% endfor %}
			{% endif %}

			</li>
			</ul>
		</div></div>
	</div>

	<div class="trim"></div>
</div></nav>
<div class="clear"><!--  --></div>