<div class="block language-selector clearfix">
	<div class="inner">
	{% set heading_class = 'no-heading' %}
	{% set title_empty = supraBlock.isEmpty('block_title') %}
	{% if supra.cmsRequest or not title_empty %}
	<h2 class="block-title {% if title_empty %}hidden{% endif %}"><div>
		{{ supraBlock.property('block_title') }}
		{% if not title_empty %}
			{% set heading_class = 'has-heading' %}
		{% endif %}
	</div></h2>
	{% endif %}
	
	<ul class="content {{ heading_class }}" data-refresh-event="languages">
		{% for locale in locales %}
			<li{% if locale.id == currentLocale.id %} class="active"{% endif %}>
				<a href="/{{ locale.id }}/{{ localizedUrl[locale.id] }}">{{ locale.title }}</a>
			</li>
		{% endfor %}
	</ul>
	</div>
</div>