<div class="block">
	<h3>{{ property('foo.title') }}</h3>
	<div>{{ property('foo.content') }}</div>


	{% set fooSet = property('foo') %}
	<h3>{{ fooSet.title | raw }}</h3>
	<div>{{ fooSet.content | raw }}</div>
</div>


<div class="block gallery">

	<h3 class="title">{{ property('title', 'inline_string') }}</h3>

	{% set images = property('images') %}

	<h3>There are {{ images | length }} images.</h3>

	{% for image in images %}
		{{ image }}
	{% endfor %}
</div>