{% set title = property({'name': 'title', 'type': 'string', 'label': 'Title'}) %}
{% set sent = messageSent | default(false) %}

{% do property({
	'name': 'email',
	'type': 'string',
	'label': 'Submitted form recipient email address'
}) %}

<div class="block form-block">
	{% if not isPropertyEmpty('title') or supraPage.cmsRequest %}
		<h2 class="block-title {% if isPropertyEmpty('title') %}hidden{% endif %}">
			{{ title }}
		</h2>
	{% endif %}
	
	{# Success message #}
	{% if sent or supraPage.cmsRequest %}
		<div class="text confirmation">
			<p>
			{{ property({
				'name': 'successMessage',
				'type': 'text',
				'default': 'Thanks! We will contact you shortly!'
			}) }}
			</p>
		</div>
	{% endif %}
	
	{% if not sent or supraPage.cmsRequest %}
		<form class="form" method="post">
			
			<div class="pure-g">
				{# 
					Name and email under each other on mobile; on resolutions larger than tablet in two columns
					
					Mobile  - 1 column
					Tablet+ - 2 columns
				#}
				<div class="pure-u pure-u-1-1 pure-u-md-1-2">
					
					<div class="row">
						<label for="nameInput">
							{{ property({
								'name': 'nameLabel',
								'type': 'inline_string',
								'default': 'Name'
							}) }}
							<sup class="required">*</sup>
						</label>
						<input class="input-text" type="text" name="name" id="nameInput" required="required" />
					</div>
					
				</div>
				<div class="pure-u pure-u-1-1 pure-u-md-1-2">
				
					<div class="row">
						<label for="emailInput">
							{{ property({
								'name': 'emailLabel',
								'type': 'inline_string',
								'default': 'E-mail'
							}) }}
							<sup class="required">*</sup>
						</label>
						<input class="input-text" type="email" name="email" id="emailInput" required="required" />
					</div>
				
				</div>
			</div>
			
			<div class="row">
				<label for="messageInput">
					{{ property({
						'name': 'messageLabel',
						'type': 'inline_string',
						'default': 'Message'
					}) }}
					<sup class="required">*</sup>
				</label>
				<textarea class="input-text" name="message" id="messageInput" required="required"></textarea>
			</div>
			
			<div class="row form-footer">
				<button type="submit" class="button">
					{{ property({
						'name': 'buttonLabel',
						'label': 'Submit button label',
						'type': 'string',
						'default': 'Submit'
					}) }}</button>
			</div>
		</form>
	{% endif %}
</div>
