<div>
	<h3>String</h3>
	{{ property('string', {'name': 'string', 'label': 'String'}) }}
</div>

<div>
	<h3>Inline String</h3>
	{{ property('inlineString', 'inline_string') }}
</div>

<div>
	<h3>Text</h3>
	{{ property('text', 'text') }}
</div>

<div>
	<h3>Inline Text</h3>
	{{ property('inlineText', 'inline_text') }}
</div>

<div>
	<h3>Checkbox</h3>
	{% set checked = property('checkbox', 'checkbox') %}
	Value is set to {% if checked %}Yes{% else %}No{% endif %}
</div>

<div>
	<h3>Link</h3>
	{{ property('link', 'link') }}
</div>

<div>
	<h3>Date & Time</h3>
	{% set dateTime = property('datetime', 'datetime') %}
	{% if dateTime %}
		{{ dateTime.format('d-m-Y H:i') }}
	{% endif %}
</div>


<div>
	<h3>Image</h3>
	{% set someImage = property('image', 'image') %}
	{% if someImage %}{{ someImage.setHeight(200) | raw }}{% endif %}
</div>


<div>
	<h3>Inline Map</h3>
	{{ property('location', 'inline_map').setAttribute('style', 'height: 200px') | raw }}
</div>

{# Output only. #}
{{ property('foo_1') }}

{# Defintion and Output #}
{{ property('foo_2', 'string') }}

{# Extended definition #}
{{ property('foo_3', {
	'name':		'string',
	'label':	'Foo 3',
	'default':	'hello',
}) }}

{# Output with additional options for Editable's filters #}
{{ property('foo_4', 'string', {'foo': 'bar'}) }}

{# Output without definition but with options for Editable's filters #}
{{ property('foo_5', null, {'foo': 'bar'}) }}


{# @TODO: the rest #}