<div>
	<h3>String</h3>
	{{ property('string', 'string', 'String') }}
</div>

<div>
	<h3>Inline String</h3>
	{{ property('inlineString', 'inline_string') }}
</div>

<div>
	<h3>Text</h3>
	{{ property('text', 'text') }}
</div>

<div>
	<h3>Inline Text</h3>
	{{ property('inlineText', 'inline_text') }}
</div>

<div>
	<h3>Checkbox</h3>
	{% set checked = property('checkbox', 'checkbox') %}
	Value is set to {% if checked %}Yes{% else %}No{% endif %}
</div>

<div>
	<h3>Link</h3>
	{{ property('link', 'link') }}
</div>

<div>
	<h3>Date & Time</h3>
	{% set dateTime = property('datetime', 'datetime') %}
	{% if dateTime %}
		{{ dateTime.format('d-m-Y H:i') }}
	{% endif %}
</div>


<div>
	<h3>Image</h3>
	{{ property('image', 'image') }}
</div>

{# @TODO: the rest #}