{% set title = property({'name': 'title', 'type': 'string', 'label': 'Title'}) %}

<section class="block gallery" data-refresh-event="gallery">
	
	{% if not isPropertyEmpty('title') or supraPage.cmsRequest %}
		<h2 class="block-title {% if isPropertyEmpty('title') %}hidden{% endif %}">
			{{ title }}
		</h2>
	{% endif %}
	
	<div class="gallery-inner">
		{% set wrapperTemplate %}{% verbatim %}
			<ul class="pure-g">{{ items }}</ul>
		{% endverbatim %}{% endset %}
		{% set itemTemplate %}{% verbatim %}
		    <li class="pure-u pure-u-1-4">
		        <span class="img">{{ image }}</span>
				<div class="text">
			        <h2>{{ title }}</h2>
					<p>{{ description }}</p>
				</div>
		    </li>
		{% endverbatim %}{% endset %}
		
		{{ property(
			{
				'name': 'gallery',
				'type': 'gallery',
				'label': 'Gallery'
			},
			{
				'itemTemplate': 	itemTemplate,
				'wrapperTemplate': 	wrapperTemplate,
				'fullSizeMaxWidth': 800,
				'fullSizeMaxHeigh': 300,
				'fullSizeCrop':		true
			}
		) }}
		
	</div>
	
</section>
