{% set title = property({'name': 'title', 'type': 'string', 'label': 'Title'}) %}

<section class="block gallery gallery-2" data-refresh-event="gallery" data-require="frontend/widgets/gallery" data-attach="$.fn.gallery">
	
	{% if not isPropertyEmpty('title') or supraPage.cmsRequest %}
		<h2 class="block-title {% if isPropertyEmpty('title') %}hidden{% endif %}">
			{{ title }}
		</h2>
	{% endif %}
	
	<div class="gallery-inner">
		{#
			Mobile        - 2 columns
			Large mobile+ - 3 columns
		#}
		{% set wrapperTemplate %}{% verbatim %}
			<div class="pure-g pure-g-collapsed">{{ items }}</div>
		{% endverbatim %}{% endset %}
		
		{% set itemTemplate %}{% verbatim %}
		    <figure class="pure-u pure-u-1-2 pure-u-sm-1-3">
		        <span class="img"><a data-size="{{ fullSizeWidth }}x{{ fullSizeHeight }}" href="{{ fullSizeUrl }}">{{ image }}</a></span>
		    </figure>
		{% endverbatim %}{% endset %}
		
		{{ property(
			{
				'name': 'gallery',
				'type': 'gallery',
				'label': 'Gallery'
			},
			{
				'itemTemplate': 	itemTemplate,
				'wrapperTemplate': 	wrapperTemplate,
				'fullSizeMaxWidth': 1200,
				'fullSizeMaxHeigh': 900,
				'fullSizeCrop':		true
			}
		) }}
		
	</div>
	
</section>
