<div class="block social-links" data-refresh-event="social-links">
	{{ property('youtube',	{'name': 'link', 'label': 'Youtube'})	| decorate({'class': 'youtube'}) }}
	{{ property('twitter',  {'name': 'link', 'label': 'Twitter'})	| decorate({'class': 'twitter'}) }}
	{{ property('facebook', {'name': 'link', 'label': 'Facebook'})	| decorate({'class': 'facebook'}) }}
	{{ property('flickr',	{'name': 'link', 'label': 'Flickr'})	| decorate({'class': 'flickr'}) }}
	{{ property('rss-feed', {'name': 'link', 'label': 'RSS'})		| decorate({'class': 'rss'}) }}
</div>
