<div class="block social-links" data-refresh-event="social-links">
	{{ property({'name': 'youtube',   'type': 'link', 'label': 'Youtube'})	| decorate({'class': 'youtube'}) }}
	{{ property({'name': 'twitter',   'type': 'link', 'label': 'Twitter'})	| decorate({'class': 'twitter'}) }}
	{{ property({'name': 'facebook',  'type': 'link', 'label': 'Facebook'})	| decorate({'class': 'facebook'}) }}
	{{ property({'name': 'flickr',    'type': 'link', 'label': 'Flickr'})	| decorate({'class': 'flickr'}) }}
	{{ property({'name': 'rss-feed',  'type': 'link', 'label': 'RSS'})		| decorate({'class': 'rss'}) }}
</div>
