<div class="block socials" data-refresh-event="social-links">
	<div class="socials-inner socials-align-center no-heading" data-refresh-event="socials">
		{{ property('youtube',	{'name': 'link', 'label': 'Youtube'})	| decorate({'class': 'social social-youtube'}) }}
		{{ property('twitter',  {'name': 'link', 'label': 'Twitter'})	| decorate({'class': 'social social-twitter'}) }}
		{{ property('facebook', {'name': 'link', 'label': 'Facebook'})	| decorate({'class': 'social social-facebook'}) }}
		{{ property('flickr',	{'name': 'link', 'label': 'Flickr'})	| decorate({'class': 'social social-flickr'}) }}
		{{ property('rss-feed', {'name': 'link', 'label': 'RSS'})		| decorate({'class': 'social social-rss'}) }}
	</div>
</div>