{% set persons = collection({
    'name': 'fooBarCollection',
    'label': 'Foo Bar Collection',
    'item': set({
        'name': 'fooBarSet',
        'label': 'Foo Bar Set',
        'items': [
            property({'name': 'fullname', 'type': 'string'}),
            collection({
                'name': 'positions',
                'item': property({'name': 'position', 'type': 'string'})
            })
        ]
    })
}) %}


<h3>Persons</h3>
{% for person in persons %}
    <h5>{{ person.fullname }}</h5>
    {% for position in person.positions %}
        {{ position }}<br/>
    {% endfor %}
{% endfor %}

{% for keyword in property({'name': 'keywords', 'type': 'keywords'}) %}
    {{ keyword }}<br />
{% endfor %}


{#{{ property({#}
    {#'name': 'gender',#}
    {#'type': 'select',#}
    {#'values': {'male': 'Male', 'female': 'Female'}#}
{#}) }}#}


{#{{ property({#}
    {#'name': 'childCount',#}
    {#'type': 'select_list',#}
    {#'values': {'none': 'None', 'one': 'One', 'two': 'Two', 'more': ' >2'}#}
{#}) }}#}



{#{{ property({'name': 'myVideo', 'type': 'video'}) }}#}


{{ property({'name': 'logo', 'type': 'inline_image'}) }}


{{ property({'name': 'logoPrint', 'type': 'image'}) }}