{% set people = collection(set(
    property('firstname', {'name': 'string', 'label': 'First name'}),
    property('lastname', {'name': 'string', 'label': 'Last name'}),
    property('about', {'name': 'inline_string', 'label': 'About'}),
    property('profileLink', {'name': 'link', 'label': 'Profile Link'}),
    property('image', {'name': 'image', 'label': 'Image'}),
    collection(set(
        property('color', {'name': 'string', 'label': 'Color'})
    ))
)) %}

<ul>
    {% for person in people %}
        <li>
            {{ person.profileLink | raw }}
            <div class="align-right">
                {{ person.image | raw }}
            </div>
            <h3>{{ person.firstname }} {{ person.lastname }}</h3>
            <p>
                {{ person.about | raw }}
            </p>
            
            <h3>Colors:</h3>
            {% for colorSet in person.colorSetList %}
                {{ colorSet.color }}{% if not loop.last %}, {% endif %}
            {% endfor %}
            
            {% if not supraPage.cmsRequest %}
                Nice
            {% endif %}
            
            {% if not loop.last %}
                <hr />
            {% endif %}
        </li>
    {% endfor %}
</ul>

<h4>Text:</h4>
{{ property('text', 'html') }}


{#
<ul>
    {% for item in collection(property('name', {'name': 'inline_string', 'label': 'Name'})) %}
        <li>{{ item | raw }}</li>
    {% endfor %}
</ul>

List 2:
<div>
    {% for item in collection(property('color', {'name': 'inline_string', 'label': 'Color'})) %}
        {{ item | raw }}<br />
    {% endfor %}
</div>
#}


{# *** Plain set, loop through *** #}
{#
{% for item in set(
        property('plainSetItem1', 'inline_string'),
        property('plainSetItem2', 'inline_string')) %}

    {{ item | raw }}

{% endfor %}
#}

{# *** Plain set, direct access *** #}
{#
{% set propertySet = set(
property('fooBar', 'inline_string'),
property('fooBar2', 'inline_string'),
property('fooBar3', 'inline_string')) %}

{{ propertySet.fooBar | raw }}
{{ propertySet.fooBar2 | raw }}
{{ propertySet.fooBar3 | raw }}
#}


{# *** Set with a subset *** #}
{#
{% for item in set(
    set(
        property('foo', 'inline_string'),
        property('bar', 'inline_string')
    ),
    property('item1', 'inline_string'),
    property('item2', 'inline_string'),
    property('item3', 'inline_string')
) %}

    {% if item is iterable %}
        {% for subItem in item %}
            {{ subItem | raw }}
        {% endfor %}
    {% else %}
        {{ item | raw }}
    {% endif %}

{% endfor %}
#}


{# *** Plain collection  *** #}
{#
{% for item in collection(property('image', 'image')) %}
    {{ item | raw }}
{% endfor %}
#}


{# *** Collection of sets *** #}
{#
{% for tab in collection(set(
        property('title', 'inline_string'),
        property('content', 'inline_text')
    )) %}

    <h3>{{ tab.title | raw }}</h3>
    <p>{{ tab.content | raw }}</p>

{% endfor %}
#}


{# *** Set of collections *** #}
{#
{% set portfolio = set(
    collection('web',       property('image', 'image')),
    collection('apps',      property('image', 'image')),
    collection('branding',  property('image', 'image'))
) %}

<h3>Web</h3>
{% for image in portfolio.web %}
    {{ image }}
{% endfor %}

<h3>Apps</h3>
{% for image in portfolio.apps %}
    {{ image }}
{% endfor %}

<h3>Branding</h3>
{% for image in portfolio.branding %}
    {{ image }}
{% endfor %}
#}


{# ========================================================
{% set tab = set(property('title', 'inline_string'), property('content', 'html')) %}
{% for tab in collection(tab) %}
    <h3>{{ tab.title }}</h3>
    <div class="text">{{ tab.content }}</div>
{% endfor %}
#}

{# ========================================================
{% set image = property('image') %}
{% for image in collection(image) %}
    {{ image }}
{% endfor %}
#}

{# ========================================================
{% set tabTitle = property('title', 'inline_string') %}
{% set tabContent = property('content', 'inline_string') %}

{% set tab = set({tabTitle, tabContent}) %}

{% set tabs = collection(tab) %}

{% for tab in tabs %}
    <h3>{{ tab.title }}</h3>
    <div class="text">{{ tab.content }}</div>
{% endfor %}
#}


{# Twig source #}
{#
<ul>
    {% for item in collection('listofimages', property('image', 'image')) %}
        <li>{{ item | raw }}</li>
    {% endfor %}
    
    {% collectionTemplate 'listofimages' %}
        <li>{{ property('image') }}</li>
    {% endCollectionTemplate %}
</ul>
#}

{# Html result #}
{#
<ul>
    <li><img src="..." alt="" /></li>
    
    <script type="text/supra-template" data-id="listofimages">
        <li>{{ property('image') }}</li>
    </script>
</ul>
#}



{# Nested collections #}

{# Twig source #}

{#
{% set items = collection('listofitems', set(
    property('title', 'inline_string'),
    collection('listofimages', property('image', 'image'))
)) %}

<ul>
    {% for item in items %}
        <li>
            <h2>{{ item.title|raw }}</h2>
            <ul>
                {% for image in item.images %}
                    <li>{{ image | raw }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    
    {% collectionTemplate 'listofitems' %}
        <li>
            <h2>{{ property('title') }}</h2>
            <ul>
                {{ property('listofimages') }}
            </ul>
        </li>
    {% endCollectionTemplate %}
    
    {% collectionTemplate 'listofitems.listofimages' %}
        <li>{{ property('image') }}</li>
    {% endCollectionTemplate %}
</ul>
#}
