{% set design = supraBlock.property('design')|default('list') %}

{% if menu_items or supra.cmsRequest or true %}
	{% if design == 'list' %}
	
		<div class="sidebar-menu block">
			<div class="background"></div>
			<div class="inner">
			
				{% set heading_class = 'no-heading' %}
				{% if supra.cmsRequest or not supraBlock.isEmpty('menuLabel') %}
				<h3 class="heading block-title {% if supraBlock.isEmpty('menuLabel') %}hidden{% endif %}"><div>
					{{ supraBlock.property('menuLabel') }}
					{% set heading_class = 'has-heading' %}
				</div></h3>
				{% endif %}
				
				<ul class="content {{ heading_class }}" {% if supra.cmsRequest %}data-refresh-event="menu"{% endif %}>
					{% for menu_item in menu_items %}
						{% if(menu_item.items) %} 
							<li class="has-children active" >
								<a href="{{ menu_item.path }}">{{ menu_item.title }}</a>
								<ul>
								{% for sub_menu_item in menu_item.items %}
									{% if sub_menu_item.active %}
										<li class="active"><a href="{{ sub_menu_item.path }}">{{ sub_menu_item.title }}</a></li>
									{% else %}
										<li><a href="{{ sub_menu_item.path }}">{{ sub_menu_item.title }}</a></li>
									{% endif %}
								{% endfor %}
								</ul>
							</li>
						{% else %}
							{% if menu_item.active %}
								<li class="active"><a href="{{ menu_item.path }}">{{ menu_item.title }}</a></li>			
							{% else %}
								<li><a href="{{ menu_item.path }}">{{ menu_item.title }}</a></li>			
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
		
	{% else %}
		
		<div class="block sidebar-menu">
			<div class="selector" data-toggle="selectors" data-default-behaviour="true" {% if supra.cmsRequest %}data-refresh-event="menu"{% endif %}>
				<a>
					{% set has_title = false %}
					
					{% if not supraBlock.isEmpty('menuLabel') %}
						<span>{{ supraBlock.property('menuLabel') }}</span><i></i>
						{% set has_title = true %}
					{% endif %}
					
					{% if not has_title %}
						{% for data in menu_items %}
							{% set active = supra.isActive(data.path, true) %}
							{% if active %}
								<input type="hidden" value="{{ data.path }}" />
								<span>{{ data.title }}</span>
								<i></i>
								{% set has_title = true %}
							{% endif %}
						{% endfor %}
					{% endif %}
					
					{% if not has_title %}
						<span>{{ supra.request.pageLocalization.title }}</span><i></i>
					{% endif %}
				</a>
				<div class="selector-dropdown"><div class="selector-inner">
					<ul>
						{% for menu_item in menu_items %}
							{% if menu_item.active %}
								<li class="active"><a href="{{ menu_item.path }}">{{ menu_item.title }}</a></li>			
							{% else %}
								<li><a href="{{ menu_item.path }}">{{ menu_item.title }}</a></li>			
							{% endif %}
						{% endfor %}
					</ul>
				</div></div>
			</div>
		</div>
		
	{% endif %}
{% endif %}