<div class="block blog-tags">
	
	{% set heading_class = 'no-heading' %}
	{% if supra.cmsRequest or not supraBlock.isEmpty('block_title') %}
	<h3 class="heading block-title {% if supraBlock.isEmpty('block_title') %}hidden{% endif %}"><div>
		{{ supraBlock.property('block_title') }}
		{% set heading_class = 'has-heading' %}
	</div></h3>
	{% endif %}
	
	<div class="tags" data-attach="$.fn.tabs" data-refresh-event="tabs-accordion">
		<ul class="tabs-headings clearfix">
			<li class="tabs-heading active">
				<a href="tab_popular">{{ supraBlock.property("popular_title") }}</a>
			</li>
			<li class="tabs-heading">
				<a href="#tab_all">{{ supraBlock.property("all_title") }}</a>
			</li>
		</ul>
		<div class="tabs-container">
		
			{% set pathPrefix = '?' %}
			
			<div class="tabs-content clearfix active" name="tab_popular">
				{% for tag in popularTags %}
					<a class="tag {% if tag == currentTag %}active{% endif %}" href="{{ pathPrefix }}tag={{ tag | url_encode }}">{{ tag }}</a>
				{% endfor %}
			</div>
			<div class="tabs-content clearfix" name="tab_all">
				{% for tag in allTags %}
					<a class="tag {% if tag == currentTag %}active{% endif %}" href="{{ pathPrefix }}tag={{ tag | url_encode }}">{{ tag }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
	
</div>