<nav class="second bg-color">
	<b class="font">{{ supra.request.pageLocalization.title }}</b>
	<span>{{ supraBlock.property('invitationToSearch') }}</span>

	<form method="get" class="form form-search">
		<div class="input-row">
			<span class="input-txt"><span>
				<input type="text" name="q" value="{{ q }}" />
			</span></span>
			<span class="btn"><span><input type="submit" value="{{ supraBlock.property('buttonCaption') }}" /></span></span>
		</div>
	</form>

	{% if error %}
		<span>{{ supraBlock.property('errorMessage') }}</span>
	{% else %} 
		{% if q %} 
			<span>{{ supraBlock.property('searchedForLabel') }}: “{{ q }}”</span><br />
		{% endif %}

		{% if q %}
			<span>{{ supraBlock.property('numberOfResultsLabel') }}: {{ resultCount }}</span>
		{% endif %}
	{% endif %}
</nav>
