<!DOCTYPE html>
<html>
	<head>
		<title>Select page</title>
	</head>
	<body>
		{% if fetchedPages or addedPages %}
			{% if addedPages %}
				<h3>Available pages for editing</h3>
				<ul>
				{% for page in addedPages %}
					<li><a href="/social/view-page?page_id={{ page.id }}">{{ page.name }}</a> ({{page.tabs}} tabs)</li>
				{% endfor %}
				</ul>
			{% endif %}
			{% if fetchedPages %}
				<h3>Available pages for adding</h3>
				<ul>
				{% for page in fetchedPages %}
					<li>{{ page.name }} | <a href="/social/add-page?page_id={{ page.id }}">Add page to Supra</a></li>
				{% endfor %}
				</ul>
			{% endif %}
		{% else %}
			<h2>There is no any available page at the moment</h2>
		{% endif %}
	</body>
</html>