{% extends 'SamplePackage:layouts/base.html.twig' %}

{% block intro %}
	<section class="content content-promo slideshow" name="home" id="home" data-require="plugins/blocks/slider" data-attach="$.fn.slider">
		
		<ul>
			<li>
				<div class="wrapper">
					{# Semantically it wouldn't be correct to use <h1> here #}
					<p class="h1"><b>This is Drava</b></p>
				</div>
			</li>
			<li>
				<div class="wrapper">
					<p class="h1"><b>Drava is parallax theme</b></p>
					<p>Just scroll down to see cool parallax scrolling effect</p>
				</div>
			</li>
		</ul>
		
		<div class="controls">
			<div class="wrapper">
				<a class="next"></a>
				<a class="back"></a>
			</div>
		</div>
		
	</section>
{% endblock %}

{% block body %}
	
	<section class="content content-promo content-light">
		<div class="wrapper">
			{% block content %}
				{{- placeHolder('content') -}}
			{% endblock %}
		</div>
	</section>
	<section class="content content-promo content-dark">
		<div class="wrapper">
			{{- placeHolder('about') -}}
		</div>
	</section>
	<section class="content content-promo content-light" name="team" id="team">
		<div class="wrapper">
			{{- placeHolder('team') -}}
		</div>
	</section>
	<section class="content content-promo content-dark">
		<div class="wrapper">
			{{- placeHolder('team2') -}}
		</div>
	</section>
	<section class="content content-promo content-light" name="portfolio" id="portfolio">
		<div class="wrapper">
			{{- placeHolder('portfolio') -}}
		</div>
	</section>
	<section class="content content-promo content-light" name="contact" id="contact">
		<div class="wrapper">
			{{- placeHolder('contact') -}}
		</div>
	</section>
	<section class="decoration"></section>
	
{% endblock %}
